@model EasyCSIT.Models.MarkModel

@{

    ViewData["Title"] = "Add_Markslip";

}

<h2>Register Subject Marks</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add_Markslip">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*   <div class="form-group">
                    <label asp-for="MarkId" class="control-label"></label>
                    <input asp-for="MarkId" class="form-control" />
                    <span asp-validation-for="MarkId" class="text-danger"></span>
                </div>*@
            <div class="form-group">


                <label asp-for="StudentId" class="control-label"></label>
                @* <input asp-for="StudentId" class="form-control" /> *@
                @Html.DropDownListFor(x => x.StudentId, ViewBag.Students as SelectList, "--Select Student--", new { @class = "form-control" })
                <span asp-validation-for="StudentId" class="text-danger"></span>


            </div>
          

            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                @Html.DropDownListFor(x => x.SubjectId, ViewBag.Subject as SelectList, "--Select Subject--", new { @class = "form-control" })
                @* <input asp-for="SubjectId" class="form-control" />*@
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheoryMark" class="control-label"></label>
                <input asp-for="TheoryMark" class="form-control" />
                <span asp-validation-for="TheoryMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternalMark" class="control-label"></label>
                <input asp-for="InternalMark" class="form-control" />
                <span asp-validation-for="InternalMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracticalMark" class="control-label"></label>
                <input asp-for="PracticalMark" class="form-control" />
                <span asp-validation-for="PracticalMark" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

