@model EasyCSIT.Models.MarkModel

@{
    ViewData["Title"] = "Edit_Marks";
}

<h1>Edit_Marks</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit_Marks">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheoryMark" class="control-label"></label>
                <input asp-for="TheoryMark" class="form-control" />
                <span asp-validation-for="TheoryMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternalMark" class="control-label"></label>
                <input asp-for="InternalMark" class="form-control" />
                <span asp-validation-for="InternalMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracticalMark" class="control-label"></label>
                <input asp-for="PracticalMark" class="form-control" />
                <span asp-validation-for="PracticalMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <input asp-for="SubjectId" class="form-control" />
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

