@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "";
}

<head>
    <link rel="stylesheet" href="~/css/all.css">
    <link rel="stylesheet" href="~/css/style1.css">

</head>
<body class="body1">
    <div class="register-box">
        <a href="~/" class="close" title="Close Modal">&times;</a>

        <div class="register-box-body">

            <div class="register-logo">
                <a href="/"><b>Easy</b>CSIT</a>
            </div>
            <p class="login-box-msg">Register a new membership</p>

            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">


                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">

                            <input asp-for="Input.FirstName" placeholder="First Name" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">

                            <input asp-for="Input.LastName" placeholder="Last Name" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">

                            <input asp-for="Input.Address" placeholder="Address" class="form-control" />
                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">

                            <input asp-for="Input.PhoneNumber" placeholder="Phone" class="form-control" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>

                    </div>
                </div>



                <div class="form-group">

                    <input asp-for="Input.Email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                            <input asp-for="Input.Password" placeholder="Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>


                    </div>
                </div>

                <button type="submit" class="btn btn-block btn-primary ">Register</button>
            </form>

        </div>
        <!-- /.form-box -->
    </div>
    </body>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
