@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">


        <p>This page contains Syllabus of Artificial Intelligence of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Artificial Intelligence
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC261</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>fourth-semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Compulsary</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fa fa-expand"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Description:</b> The course introduces the ideas and techniques underlying the principles and</p><p>design of artificial intelligent systems. The course covers the basics and applications of AI</p><p>including: design of intelligent agents, problem solving, searching, knowledge representation</p><p>systems, probabilistic reasoning, neural networks, machine learning and natural language</p><p>processing.</p><p><br></p><p><b>Course Objectives:</b> The main objective of the course is to introduce concepts of Artificial</p><p>Intelligence. The general objectives are to learn about computer systems that exhibit intelligent</p><p>behavior, design intelligent agents, identify AI problems and solve the problems, design knowledge</p><p>representation and expert systems, design neural networks for solving problems, identify different</p><p>machine learning paradigms and identify their practical applications.</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fa fa-expand"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Introduction
                            </dt>
                            <dt>teaching hours: 3 hrs</dt>
                            <dd><p><a href="https://collegenote.pythonanywhere.com/note/CSIT/30/fourth-semester/artificial-intelligence/introduction-and-intelligent-agents/26/view/" target="_blank">Read</a><br></p><p>1.1. Artificial Intelligence (AI), AI Perspectives: acting and thinking humanly, acting and thinking rationally</p><p>1.2. History of AI</p><p>1.3. Foundations of AI</p><p>1.4. Applications of AI</p><div><br></div></dd>

                            <dt>
                                2.
                                Intelligent Agents
                            </dt>
                            <dt>teaching hours: 4 hrs</dt>
                            <dd><p>2.1. Introduction of agents, Structure of Intelligent agent, Properties of Intelligent Agents</p><p>2.2. Configuration of Agents, PEAS description of Agents</p><p>2.3. Types of Agents: Simple Reflexive, Model Based, Goal Based, Utility Based.</p><p>2.4. Environment Types: Deterministic, Stochastic, Static, Dynamic, Observable, Semi-</p><p>observable, Single Agent, Multi Agent</p><div><br></div></dd>

                            <dt>
                                3.
                                Problem Solving by Searching
                            </dt>
                            <dt>teaching hours: 9 hrs</dt>
                            <dd><p>3.1. Definition, Problem as a state space search, Problem formulation, Well-defined</p><p>problems,</p><p>3.2. Solving Problems by Searching, Search Strategies, Performance evaluation of search</p><p>techniques</p><p>3.3. Uninformed Search: Depth First Search, Breadth First Search, Depth Limited Search,</p><p>Iterative Deepening Search, Bidirectional Search</p><p>3.4. Informed Search: Greedy Best first search, A* search, Hill Climbing, Simulated</p><p>Annealing</p><p>3.5. Game playing, Adversarial search techniques, Mini-max Search, Alpha-Beta Pruning.</p><p>3.6. Constraint Satisfaction Problems</p><div><br></div></dd>

                            <dt>
                                4.
                                Knowledge Representation
                            </dt>
                            <dt>teaching hours: 14 hrs</dt>
                            <dd><p>4.1. Definition and importance of Knowledge, Issues in Knowledge Representation,</p><p>Knowledge Representation Systems, Properties of Knowledge Representation Systems.</p><p>4.2. Types of Knowledge Representation Systems: Semantic Nets, Frames, Conceptual</p><p>Dependencies, Scripts, Rule Based Systems, Propositional Logic, Predicate Logic</p><p>4.3. Propositional Logic(PL): Syntax, Semantics, Formal logic-connectives, truth tables,</p><p>tautology, validity, well-formed-formula, Inference using Resolution, Backward</p><p>Chaining and Forward Chaining</p><p>4.4. Predicate Logic: FOPL, Syntax, Semantics, Quantification, Inference with FOPL: By</p><p>converting into PL (Existential and universal instantiation), Unification and lifting,</p><p>Inference using resolution</p><p>4.5. Handling Uncertain Knowledge, Radom Variables, Prior and Posterior Probability,</p><p>Inference using Full Joint Distribution, Bayes' Rule and its use, Bayesian Networks,</p><p>Reasoning in Belief Networks</p><p>4.6. Fuzzy Logic</p><div><br></div></dd>

                            <dt>
                                5.
                                Machine Learning
                            </dt>
                            <dt>teaching hours: 9 hrs</dt>
                            <dd><p>5.1. Introduction to Machine Learning, Concepts of Learning, Supervised, Unsupervised and</p><p>Reinforcement Learning</p><p>5.2. Statistical-based Learning: Naive Bayes Model</p><p>5.3. Learning by Genetic Algorithm</p><p>5.4. Learning with Neural Networks: Introduction, Biological Neural Networks Vs. Artificial</p><p>Neural Networks (ANN), Mathematical Model of ANN, Types of ANN: Feed-forward,</p><p>Recurrent, Single Layered, Multi-Layered, Application of Artificial Neural Networks,</p><p>Learning by Training ANN, Supervised vs. Unsupervised Learning, Hebbian Learning,</p><p>Perceptron Learning, Back-propagation Learning</p><div><br></div></dd>

                            <dt>
                                6.
                                Applications of AI
                            </dt>
                            <dt>teaching hours: 6 hrs</dt>
                            <dd><p>6.1. Expert Systems, Development of Expert Systems</p><p>6.2. Natural Language Processing: Natural Language Understanding and Natural Language</p><p>Generation, Steps of Natural Language Processing</p><p>6.3. Machine Vision Concepts</p><p>6.4. Robotics</p><div><br></div></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fa fa-expand"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Laboratory Work Manual</b></p><p>Student should write programs and prepare lab sheet for most of the units in the syllabus. Majorly,</p><p>students should practice design and implementation of intelligent agents and expert systems,</p><p>searching techniques, knowledge representation systems and machine learning techniques. Students</p><p>are also advised to implement Neural Networks for solving practical problems of AI. Students are</p><p>advised to use LISP, PROLOG, and any other high level language like C, C++, Java, etc. The</p><p>nature of programming can be decided by the instructor and student as per their comfort. The</p><p>instructors have to prepare lab sheets for individual units covering the concept of the units as per the</p><p>requirement. The sample lab sessions can be as following descriptions;</p><p><b>Unit II: Intelligent Agents (4 Hrs)</b></p><p><b>-</b> Write programs for implementing simple intelligent agents.</p><p><b>Unit III: Problem Solving by Searching (12 Hrs)</b></p><p><b>- </b>Write programs for illustrating the concepts of<br></p><ul><li>&nbsp;Uninformed Search like DFS, BFS, etc.</li><li>&nbsp;Informed Search like Greedy Best First, A*, etc.</li><li>&nbsp;Game Search like MiniMax Search</li></ul><p><b>-</b> Write programs for constraint satisfaction problems like water jug, n-queen problem,</p><p>&nbsp; cryptoarithmatic problem, etc.</p><p><b>Unit IV: Knowledge Representation (12 Hrs)</b></p><p><b>- </b>Write programs for illustrating the concepts knowledge representation systems</p><ul><li>&nbsp;rule based (program with if then rules)</li><li>&nbsp;predicate logic (using predicates like in Prolog)</li><li>&nbsp;frames (using concepts of class)</li><li>&nbsp;semantic nets (using concepts of graph)</li></ul><p><b>Unit V: Machine Learning (10 Hrs)</b></p><p><b>-</b> Write program for implementing Naive Bayes.<br></p><p><b>-</b> Write program for implementing Neural Networks for realization of AND, OR gates.</p><p><b>-</b> Write program for implementing Backpropagation Learning.</p><p><b>Unit VI: Applications of AI (7 Hrs)</b></p><p><b>-</b> Write program for implementing expert systems like disease prediction, weather forecasting<br></p><p>&nbsp; etc.</p><p><b>-</b> Use library tools like NLTK to illustrate concepts of Natural Language Processing.</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
