@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">


        <p>This page contains Syllabus of Cloud Computing of CSIT. </p>

        <div class="row no-gutters">


           


        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Cloud Computing
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC458</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>e
                           Eighth-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Elective</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course synopsis:</b> This course gives an introduction to cloud computing and its techniques. The topics covered include; introduction to cloud computing, cloud architecture, cloud service models, Service Oriented Architectures, security in cloud computing, disaster management in clouds.</p><p><br></p><p><b>Goal:</b> Cloud computing has become a great solution for providing a flexible, on-demand, and dynamically scalable computing infrastructure for many applications. Cloud computing also presents a significant technology trends, and it is already obvious that it is reshaping information technology processes and the IT mark</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Introduction
                            </dt>
                            <dt>Teaching Hours: 10 hrs</dt>
                            <dd><p>Defining the Cloud, The Emergence of Cloud Computing, Cloud-Based Services, Grid Computing or Cloud Computing,&nbsp; Components of Cloud Computing, Cloud Computing Deployment Models: Public, Private, Hybrid, Benefits of Using a Cloud Model, Legal Issues in Using Cloud Models, Characteristics of Cloud Computing, Evolution of Cloud Computing, Challenges for the Cloud computing, Grid Computing, Distributed Computing in Grid and Cloud.<br></p></dd>

                            <dt>
                                2.
                                Cloud Service Models
                            </dt>
                            <dt>Teaching Hours: 15 hrs</dt>
                            <dd><p>Communication-as-a-Service (CaaS): Advantages of CaaS, Fully Integrated, Enterprise-Class Unified Communications,&nbsp; Infrastructure-as-a-Service (IaaS): Modern On-Demand Computing, Amazon’s Elastic Cloud, Amazon EC2 Service Characteristics, Monitoring-as-a-Service (MaaS), Protection Against Internal and External Threats, Platform-as-a-Service (PaaS): The Traditional On-Premises Model, The New Cloud Model, Key Characteristics of PaaS, Software-as-a-Service (SaaS): SaaS Implementation Issues, Key Characteristics of SaaS, Benefits of the SaaS Model, Jericho Cloud Cube Model<br></p></dd>

                            <dt>
                                3.
                                Building Cloud Networks
                            </dt>
                            <dt>Teaching Hours: 9 hrs</dt>
                            <dd><p>Evolution from Managed service providers (MSP) to Cloud Computing, Single Purpose architectures to multi-purpose&nbsp; architectures, Data center virtualization, Cloud data center, Service Oriented Architectures (SOA), Combining and SOA, Characterizing SOA, Open Source Software in data centers<br></p></dd>

                            <dt>
                                5.
                                Security in Cloud Computing
                            </dt>
                            <dt>Teaching Hours: 11 hrs</dt>
                            <dd><p>Cloud Security Challenges, Software-as-a-Service Security: Security management, Risk Management, Security Monitoring and Incident Response, Security Architecture Design, Vulnerability Assessment, Data Privacy and Security, Application Security, Virtual Machine Security, disaster Recovery, Disasters in cloud, Disaster management<br></p><div><br></div></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Laboratory work:</b></p><p><b><br></b> As a part of lab work, the students are highly encouraged</p><ul><li>To simulate the concept of virtualization using virtualization programs/systems.</li><li>To understand and practice examples of cloud services and applications.</li><li>To understand and implement distributed storage and security issues in cloud computing.</li></ul><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
