@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">


        <p>This page contains Syllabus of Cognitive Science of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Cognitive Science
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC374</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Sixth-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Elective</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                     
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Description:</b></p><p>This course covers the fundamental concepts of cognitive science and brain computation.</p><p><b>Course Objectives:</b></p><p>The main objective of this course is to provide basic knowledge of web cognition process,</p><p>mind theory, physical symbol systems, cognitive systems, concepts of brain mappings and</p><p>neural network structures.</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                      
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Introduction
                            </dt>
                            <dt>Teaching Hours: 7 hrs</dt>
                            <dd><p>Cognition Process, Cognitive Psychology, Cognitive Science; Foundations of Cognitive Science, Cognitive Science and Multi-disciplinary; Machines and Minds; Laws thoughts to binary logic; Classical Cognitive Science; Connectionist Cognitive Science; Mind body Problem; Turing Response to Mind Body Problem; Pinker, Penerose and Searle‟s Responses to Mind Body Problem; Representational Theory of Mind; Theories of Mental Representation: Minimal Analysis of mental representation, Resemblance theories of mental representation, Casual covariation theories of mental representation, internal roles theories of mental representation</p></dd>

                            <dt>
                                2.
                                Precursors of Cognitive Science
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>Behaviorism; Theory of Computation and Algorithms; Algorithms and Turing Machines; Marr‟s Three Level of Computation; Linguistics and Formal Language; Information Processing Models in Psychology</p></dd>

                            <dt>
                                3.
                                Psycological Perspective of Cognition
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>Cognitive Models of Memory, Atkinson-Shiffrin‟s Model, Tulving‟s Model, Mental Imagery, Kosslyn‟s View, Moyer‟s View, Peterson‟s View, Cognitive Maps, Problem Understanding, States of Cognition, Cognition in AI</p></dd>

                            <dt>
                                4.
                                Physical Symbol System and Language of Thought
                            </dt>
                            <dt>Teaching Hours: 7 hrs</dt>
                            <dd><p>Physical Symbol System Hypothesis; Symbol and Symbol Systems; Problem Solving by Symbol Structure; Physical Symbol System to Language of Thoughts; The Computer Model of the Mind; Syntax and the Language of Thought: Fodor‟s Argument for the Language of Thought Hypothesis; The Chinese Room Argument; Chinese Room and Turing Test; The Symbol Ground Problem</p></dd>

                            <dt>
                                5.
                                Cognitive System
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p>Cognitive System; Architecture for intelligent agents; Modularity of Mind; Modularity Hypothesis; The ACT-R/PM architecture</p></dd>

                            <dt>
                                6.
                                Brain Mapping
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p>Structure and Function in Brain; Anatomical Connectivity; Cognitive Functioning Techniques from Neuroscience; Mapping the brain‟s electrical activity: EEG and MEG; Mapping the brain‟s blood flow and blood oxygen levels: PET and fMRI; Attention; Visuospatial attention</p></dd>

                            <dt>
                                7.
                                Mind Reading
                            </dt>
                            <dt>teaching hours: 5 hrs</dt>
                            <dd><p>Metarepresentation; Metarepresentation, autism, and theory of mind; Mind Reading System; Understanding False Belief; Mind Reading as Simulation</p></dd>

                            <dt>
                                8.
                                Neural Networks and Distributed Information Processing
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p>Neurally Inspired Models of Information Processing; Single-Layer Networks and Boolean Functions; Multilayer Networks; Information Processing in Neural Networks; Language Learning in Neural Networks; Neural Network Models of Children‟s Physical Reasoning</p></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Laboratory Works:</b></p><p>The laboratory work includes implementing and simulating the concepts of cognition process,</p><p>intelligent agents, neural networks. In addition, laboratory work can be extended to use the</p><p>tools like PSY Toolkit, PsyNeuLink etc.</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
