@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">

    <div class="row no-gutters">
        <div class="col" style="margin-bottom: 1%; text-align: center;">
            <h1 style="margin-top: 1%;" class="text-center">Digital Logic Syllabus</h1>
            <a asp-controller="Course" asp-action="DL" class=" btn btn-info">Syllabus</a>
            <a asp-controller="Course" asp-action="DLnote" class=" btn btn-outline-info">Notes</a>



        </div>
    </div>

    <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


        <div class="card-body p-0">
            <table class="table table-sm">

                <tbody>
                    <tr>
                        <td>Title</td>

                        <td>
                            Digital Logic
                        </td>
                    </tr>
                    <tr>
                        <td>Course code</td>

                        <td>CSC111</td>
                    </tr>
                    <tr>
                        <td>Nature of course</td>

                        <td>Theory + Lab</td>
                    </tr>
                    <tr>
                        <td>Semester</td>

                        <td>First-Semester</td>
                    </tr>
                    <tr>
                        <td>Full marks</td>

                        <td>60 + 20 + 20</td>
                    </tr>
                    <tr>
                        <td>Pass marks</td>

                        <td>24 + 8 + 8</td>
                    </tr>
                    <tr>
                        <td>Credit Hrs</td>

                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Elective/Compulsary</td>

                        <td>Compulsary</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>



    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-book"></i>
                        Course Description
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p><b>Course Description:</b> This course covers the concepts of digital logic and switching networks. The course includes the fundamental concepts of boolean algebra and its application for circuit analysis, multilevel gates networks, flip-lops, counters logic devices and synchronous and asynchronous sequential logic and digital integrated circuits.</p><p><br></p><p><b>Course Objectives:</b> The main objective of this course is to introduce the basic tools for the design of digital circuits and introducing methods and procedures suitable for a variety of digital design applications.</p><div><br></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-file"></i>
                        Units and Unit Content
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <dl>

                        <dt>
                            1.
                            Binary Systems
                        </dt>
                        <dt>Teaching Hours: 6 hrs</dt>
                        <dd><p>Digital Systems, Binary numbers, Number base conversion, Octal and hexadecimal numbers, compliments, Signed Binary numbers, Decimal codes (BCD, 2 4 2 1,8 4 -2 -1,Excess 3, Gray Code), Binary Storage and Registers, Binary logic</p><div><br></div></dd>

                        <dt>
                            2.
                            Boolean algebra and Logic Gates
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Basic and Axiomatic definitions of Boolean algebra, Basic Theorems and properties of Boolean Algebra, Boolean Functions, Logic Operations, Logic Gates, Integrated Circuits</p><div><br></div></dd>

                        <dt>
                            3.
                            Simplification of Boolean Functions
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>K-map, Two and Three variable maps, Four variable maps, product of sum simplification, NAND and NOR implementation, Don't Care conditions, Determinant and selection of Prime Implicants</p><div><br></div></dd>

                        <dt>
                            4.
                            Combinational Logic
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Design Procedure, Adders, Subtractors, Code Conversions, Analysis Procedure, Multilevel NAND and NOR Circuits, Exclusive-OR Circuits</p><div><br></div></dd>

                        <dt>
                            5.
                            Combinational Logic with MSI and LSI
                        </dt>
                        <dt>Teaching Hours: 8 hrs</dt>
                        <dd><p>Binary Parallel Adder and Subtractor, Decimal Adder, Magnitude Comparator, Decoders and Encoders, Multiplexers, Read-only-Memory (ROM), Programmable Logic Array (PLA), Programmable Array Logic (PAL)</p><div><br></div></dd>

                        <dt>
                            6.
                            Synchronous and Asynchronous Sequential Logic
                        </dt>
                        <dt>Teaching Hours: 10 hrs</dt>
                        <dd><p>Flip-Flops, Triggering of flip-flops, Analysis of clocked sequential circuits, Design with state equations and state reduction table, Introduction to Asynchronous circuits, Circuits with latches.</p><div><br></div></dd>

                        <dt>
                            7.
                            Registers and Counters
                        </dt>
                        <dt>Teaching Hours: 6 hrs</dt>
                        <dd><p>Registers, Shift registers, Ripple Counters, Synchronous Counters, Timing Sequences, The memory</p><div><br></div></dd>

                    </dl>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-desktop"></i>
                        <i class="fa fa-flask"></i>
                        Lab and Practical works
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p><b>Laboratory works:</b></p><p>Introduction to logic gates with IC pin details and verify the truth table using bread board.</p><p>1. Use any one simulator to simulate the basic logic circuits functions.</p><p>2. Design of half adder, full adder, subtractor using basic logic gates.</p><p>3. Study and verification of 3-8 decoder using IC.</p><p>4. Study and verification of 8-3 encoder using IC</p><p>5. Implementation of 4-1 Mux using IC</p><p>6. Implementation of 1-4 DeMux using IC</p><p>7. Implementation of 7 Segment Display</p><p>8. Verification of Flip flop</p><p>9. Design and verification of Up counter/Down counter</p><p>10. Design and verification of Shift Register</p><div><br></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>



</div>