@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">
   

        <p>This page contains Syllabus of Distributed and Object Oriented Database of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Distributed and Object Oriented Database
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC457</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>eighth-semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Elective</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                     
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Synopsis:</b> Design and development of distributed and Object oriented database systems</p><p><br></p><p><b>Goal: </b>This course introduces fundamental concept and implementation of object oriented and</p><p>distributed database systems with focus on data distribution, query processing,</p><p>transaction processing, concurrency control and recovery.</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                     
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Introduction to Distributed Database,Distributed Database Architectures,Distributed Database Design
                            </dt>
                            <dt>Teaching Hours: 12 hrs</dt>
                            <dd><p><b>1.1 Introduction to Distributed Database</b>: Distributed Data Processing, Concept of</p><p>&nbsp; &nbsp;Distributed Database. Distributed vs Centralized Database System; advantages</p><p>&nbsp; and Application. Transparency, performance and reliability. Problem areas of</p><p>&nbsp;Distributed Database. Integrity Constraints in Distributed Databases.</p><p><b>1.2 Distributed Database Architectures</b>: DBMS standardization. Architectural</p><p>&nbsp; &nbsp;models for Distributed DBMS – autonomy, distribution and heterogeneity.</p><p>&nbsp; &nbsp; Distributed Database architecture – Client/Server, Peer-to-Peer distributed</p><p>&nbsp; &nbsp; &nbsp;systems, MDBS Architecture. Distributed Catalog management.</p><p><b>1.3 Distributed Database Design</b>: Design strategies and issues. Data Replication.</p><p>&nbsp; &nbsp;Data Fragmentation – Horizontal, Vertical and Mixed. Resource allocation.</p><p>&nbsp; &nbsp; Semantic Data Control in Distributed DBMS.</p><div><br></div></dd>

                            <dt>
                                2.
                                Distributed Query Processing,Distributed Transaction Management, Distributed Concurrency Control,Reliability of Distributed DBMS and Recovery
                            </dt>
                            <dt>Teaching Hours: 17 hrs</dt>
                            <dd><p><b>2.1 Distributed Query Processing:</b> Query Decomposition and Data localization for</p><p>&nbsp; &nbsp;distributed data, join ordering, semi-join strategy, Distributed Query optimization</p><p>&nbsp; methods.</p><p><b>2.2 Distributed Transaction Management:</b> The concept and role of transaction.</p><p>&nbsp; &nbsp;Properties of transactions-Atomicity, Consistency, Isolation and Durability.</p><p>&nbsp; Architectural aspects of Distributed Transaction, Transaction Serialization.</p><p><b>2.3 DistributedConcurrency Control: </b>Lock-based and Timestamp-based</p><p>&nbsp;Concurrency Control methods. Optimistic method for Concurrency Control.</p><p>&nbsp;Deadlock management- prevention, avoidance detection, and resolution. Non-</p><p>&nbsp;serializable schedule and nested distributed transaction.</p><p><b>2.4 Reliability of Distributed DBMS and Recovery:</b> Concept and measures of</p><p>reliability, Failure analysis, types of failures. Distributed Reliability Protocols.</p><p>Recovery techniques. Two Phase Commit , Presumed abort, Presumed commit.</p><p>Three phase commit, Partitions, Scalability of Replication.</p><div><br></div><div><br></div></dd>

                            <dt>
                                3.
                                Object Oriented Database Concept, OODBMS Architecture Approach,The Object Oriented DBMS Architecture
                            </dt>
                            <dt>Teaching Hours: 16 hrs</dt>
                            <dd><p><b>3.1 Object Oriented Database Concept:</b> Data types and Object, Evolution of Object</p><p>&nbsp; &nbsp;Oriented Concepts, Characteristics of Object Oriented Data Model. Object</p><p>&nbsp; Hierarchies - Generalization, Specialization, Aggregation. Object Schema. Inter-</p><p>&nbsp;object Relationships, Similarities and difference between Object Oriented</p><p>Database model and Other Data models.</p><p><b>3.2 OODBMS Architecture Approach:</b> The Extended Relational Model Approach.</p><p>&nbsp; &nbsp;Semantic Database Approach, Object Oriented Programming Language Extension</p><p>&nbsp; Approach, DBMS Generator Approach, the Object Definition Language and the</p><p>&nbsp;Object Query Language.</p><p><b>3.3</b> The Object Oriented DBMS Architecture, Performance Issue in Object Oriented</p><p>&nbsp; &nbsp;DBMS, Application Selection for Object Oriented DBMS, the Database Design</p><p>&nbsp; for an Object Relational DBMS. The Structured Typed and ADTs, Object</p><p>&nbsp;identity, Extending the ER Model ,Storage and Access Methods, Query</p><p>Processing Query Optimization, Data Access API(ODBC,DB Library,</p><p>DAO,ADO,JDBC,OLEDB), Distributed Computing Concept in COM, COBRA.</p><div><br></div></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Laboratory works:</b></p><p>All distributed and OO database components mentioned in this course.</p><p>(Practical implementation in Oracle 9i or Oracle 10g covering both Distributed and</p><p>Object Oriented Database Features)</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
