@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="TERMS">
 

        <p>This page contains Syllabus of Decision Support System of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Decision Support System
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC460</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Eighth-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Elective</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Synopsis:</b> This course covers introduction to decision support systems; DSS</p><p>components; Decision making; DSS software and hardware; developing DSS;</p><p>DSS models; types of DSS; data mining; artificial intelligence and expert</p><p>Systems.</p><p><br></p><p><b>Goal:</b> The course is devoted to introduce decision support systems; show their relationship to</p><p>other computer-based information systems, demonstrate DSS development approaches,</p><p>and show students how to utilize DSS capacities to support different types of decisions.</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Decision Making and Computerized Support
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p><b>1.1. Management Support Systems: </b></p><p>An OverviewManagers and Decision-Making; Managerial Decision-Making and Information Systems;</p><p>&nbsp;Managers and Computer Support; Computerized Decision Support and the Supporting</p><p>Technologies; A Framework for Decision Support; The Concept of Decision Support Systems;</p><p>Group Support Systems; Enterprise Information Systems; Knowledge Management Systems;</p><p>Expert Systems; Artificial Neural Networks; Advanced Intelligent Decision Support Systems;</p><p>Hybrid Support Systems</p><p><br></p><p><b>1.2. Decision-Making Systems, Modeling, and Support Decision-Making: </b></p><p>Introduction and Definitions; Systems; Models; Phases of the Decision-</p><p>Making Process; Decision-Making: The Intelligence Phase; Decision-Making: The Design</p><p>Phase; Decision-Making: The Choice Phase; Decision-Making: The Implementation Phase; How</p><p>Decisions Are Supported; Personality Types, Gender, Human Cognition, and Decision Styles;</p><p>The Decision-Makers</p><div><br></div></dd>

                            <dt>
                                2.
                                Decision Support Systems
                            </dt>
                            <dt>Teaching Hours: 14 hrs</dt>
                            <dd><p><b>2.1. Decision Support Systems:</b>&nbsp;</p><p>An Overview DSS Configurations; What Is a DSS?; Characteristics and Capabilities of DSS; Components of</p><p>DSS; The Data Management Subsystem; The Model Management Subsystem; The User</p><p>Interface (Dialog) Subsystem; The Knowledge-Based Management Subsystem; The User; DSS</p><p>Hardware; DSS Classifications</p><div><div><b>2.2. Modeling and Analysis</b></div><div><div style="">MSS Modeling; Static and Dynamic Models; Certainty, Uncertainty, and Risk; Influence</div><div style="">Diagrams; MSS Modeling with Spreadsheets; Decision Analysis of a Few Alternatives (Decision</div><div style="">Tables and Decision Trees); The Structure of MSS Mathematical Models; Mathematical</div><div style="">Programming Optimization; Multiple Goals, Sensitivity Analysis, What-If, and Goal Seeking;</div><div style="">Problem-Solving Search Methods; Heuristic Programming; Simulation; Visual Interactive</div><div style="">Modeling and Visual Interactive Simulation; Quantitative Software Packages; Model Base</div><div style="">Management</div><div style=""><br></div><div style=""><div><b>2.3.Business Intelligence: Data Warehousing, Data Acquisition, Data Mining, Business</b></div><div><b>Analytics, and Visualization</b></div><div><div style="">The Nature and Sources of Data; Data Collection, Problems, and Quality; The Web/Internet and</div><div style="">Commercial Database Services; Database Management Systems in Decision Support Systems/</div><div style="">Business Intelligence; Database Organization and Structures; Data Warehousing; Data Marts;</div><div style="">Business Intelligence/Business Analytics; Online Analytical Processing (OLAP); Data Mining;</div><div style="">Data Visualization, Multidimensionality, and Real-Time Analytics; Geographic Information</div><div style="">Systems; Business Intelligence and the Web: Web Intelligence/Web Analytics</div><div style=""><br></div><div style=""><div><b>2.4. Decision Support System Development</b></div><div><div style="">Introduction to DSS Development; The Traditional System Development Life Cycle; Alternative</div><div style="">Development Methodologies; Prototyping: The DSS Development Methodology; Change</div><div style="">Management; DSS Technology Levels and Tools; DSS Development Platforms; DSS</div><div style="">Development Tool Selection; Team-Developed DSS; End User Developed DSS; Putting The</div><div style="">DSS Together</div><div style=""><br></div></div><div><br></div></div><div style=""><br></div></div><div><br></div></div><div style=""><br></div></div></div><div><br></div></dd>

                            <dt>
                                3.
                                Knowledge Management
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p><b>3.1. Knowledge Management</b></p><p>Introduction to Knowledge Management; Organizational Learning and Transformation;<br></p><p>Knowledge Management Initiatives; Approaches to Knowledge Management; Information</p><p>Technology in Knowledge Management; Knowledge Management Systems Implementation;</p><p>Roles of People in Knowledge Management; Ensuring Success of Knowledge Management</p><div><br></div></dd>

                            <dt>
                                4.
                                Intelligent Decision Support Systems
                            </dt>
                            <dt>Teaching Hours: 18 hrs</dt>
                            <dd><p><b>4.1. Artificial Intelligence and Expert Systems:</b> </p><p>Knowledge-Based Systems Concepts and Definitions of Artificial Intelligence; Evolution of Artificial Intelligence; TheArtificial Intelligence Field; Basic Concepts of Expert Systems; Applications of Expert Systems; Structure of Expert Systems; How Expert Systems Work; Problem Areas Suitable for Expert Systems; Benefits and Capabilities of Expert Systems; Problems and Limitations of Expert Systems; Expert System Success Factors; Types of Expert Systems; Expert Systems on the Web</p><p><b>4.2. Knowledge Acquisition, Representation, and Reasoning</b></p><p>Concepts of Knowledge Engineering; Scope and Types of Knowledge; Methods of Knowledge Acquisition from Experts; Knowledge Acquisition from Multiple Experts; Automated Knowledge Acquisition from Data and Documents; Knowledge Verification and Validation; Representation of Knowledge; Reasoning in Rule-Based Systems; Explanation and Metaknowledge; Inferencing with Uncertainty; Expert Systems Development; Knowledge Acquisition and the Internet</p><div><div><b>4.3. Advanced Intelligent Systems</b></div><div>Machine-Learning Techniques; Case-Based Reasoning; Basic Concept of Neural Computing;<br></div><div>Learning in Artificial Neural Networks; Developing Neural Network-Based Systems; Genetic</div><div>Algorithms Fundamentals; Developing Genetic Algorithm Applications; Fuzzy Logic</div><div>Fundamentals; Developing Integrated Advanced Systems</div><div><br></div><div><b>4.4. Intelligent Systems over the Internet</b></div><div>Web-Based Intelligent Systems; Intelligent Agents: An Overview; Characteristics of Agents;<br></div><div>Why Intelligent Agents?; Classification and Types of Agents; Internet-Based Software Agents;</div><div>DSS Agents and Multi-Agents; Semantic Web: Representing Knowledge for Intelligent Agents;</div><div>Web-Based Recommendation Systems; Managerial Issues of Intelligent Agents</div></div><div><br></div><div><br></div></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Laboratory Work:</b></p><p>The laboratory should contain the concepts of artificial intelligence that are</p><p>applicable to the development of decision support systems.</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
