@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <div class="terms">
        <main>

            <div class="row no-gutters">
                <div class="col" style="margin-bottom: 1%; text-align: center;">
                    <h1 style="margin-top: 1%;" class="text-center">E-Governance Syllabus</h1>
                    <a asp-controller="Course" asp-action="Egovernance" class=" btn btn-info">Syllabus</a>
                    <a asp-controller="Course" asp-action="Egovernancenote" class=" btn btn-outline-info">Notes</a>



                </div>
            </div>




            <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


                <div class="card-body p-0">
                    <table class="table table-sm">

                        <tbody>
                            <tr>
                                <td>Title</td>

                                <td>
                                    E-Governance
                                </td>
                            </tr>
                            <tr>
                                <td>Course code</td>

                                <td>CSC366</td>
                            </tr>
                            <tr>
                                <td>Nature of course</td>

                                <td>Theory</td>
                            </tr>
                            <tr>
                                <td>Semester</td>

                                <td>sixth-semester</td>
                            </tr>
                            <tr>
                                <td>Full marks</td>

                                <td>60+20+20</td>
                            </tr>
                            <tr>
                                <td>Pass marks</td>

                                <td>24+8+8</td>
                            </tr>
                            <tr>
                                <td>Credit Hrs</td>

                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Elective/Compulsary</td>

                                <td>Compulsary</td>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>



            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-book"></i>
                                Course Description
                            </h3>
                            <div class="card-tools">
                               
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <p><b>Course Description:</b></p><p>This course familiarizes students with different concepts of E-Government and E-Governance,</p><p>different E-Governance models and infrastructure development, E-government security, and data</p><p>warehousing and data mining for e-governance.</p><p><b>Course Objectives:</b></p><ul><li>&nbsp;To develop knowledge of e-governance and e-government</li><li>&nbsp;To know different e-governance models and infrastructure development</li><li>&nbsp;To implement security and use data warehousing and mining in e-governance</li></ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- ./col -->

            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-file"></i>
                                Units and Unit Content
                            </h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <dl>

                                <dt>
                                    1.
                                    Introduction to E-Government and E-Governance
                                </dt>
                                <dt>Teaching Hours: 5 hrs</dt>
                                <dd><p>Difference between E-Government and E-Governance; E-Government as Information System; Benefits of E-Government; E-Government Life Cycle; Online Service Delivery and Electronic Service Delivery; Evolution, Scope and Content of E-Governance; Present Global Trends of Growth in E-Governance</p></dd>

                                <dt>
                                    2.
                                    Models of E-Governance
                                </dt>
                                <dt>Teaching Hours: 10 hrs</dt>
                                <dd><p>Introduction; Model of Digital Governance: Broadcasting / Wider Dissemination Model, Critical Flow Model, Comparative Analysis Model, Mobilization and Lobbying Model, Interactive – Service Model / Government-to-Citizen-to-Government Model (G2C2G); Evolution in E-Governance and Maturity Models: Five Maturity Levels; Characteristics of Maturity Levels; Towards Good Governance through E-Governance Models</p></dd>

                                <dt>
                                    3.
                                    E-Government Infrastructure Development
                                </dt>
                                <dt>Teaching Hours: 10 hrs</dt>
                                <dd><p>Network Infrastructure; Computing Infrastructure; Data centers; E-Government Architecture; Interoperability Framework; Cloud Governance; E-readiness; Data System Infrastructure; Legal Infrastructural Preparedness; Institutional Infrastructural Preparedness; Human Infrastructural Preparedness; Technological Infrastructural Preparedness</p></dd>

                                <dt>
                                    4.
                                    Security for e-Government
                                </dt>
                                <dt>Teaching Hours: 5 hrs</dt>
                                <dd><p>Challenges and Approach of E-government Security; Security Management Model; E- Government Security Architecture; Security Standards</p></dd>

                                <dt>
                                    5.
                                    Applications of Data Warehousing and Data Mining in Government
                                </dt>
                                <dt>Teaching Hours: 5 hrs</dt>
                                <dd><p>Introduction; National Data Warehouses: Census Data, Prices of Essential Commodities; Other Areas for Data Warehousing and Data Mining: Agriculture, Rural Development, Health, Planning, Education, Commerce and Trade, Other Sectors</p></dd>

                                <dt>
                                    6.
                                    Case Studies
                                </dt>
                                <dt>Teaching Hours: 10 hrs</dt>
                                <dd><p>E-Government Initiatives in Nepal, Cyber Laws, Implementation in the Land Reform, Human Resource Management Software, NICNET, Collectorate , Computer-aided Administration of Registration Department (CARD), Smart Nagarpalika, National Reservoir Level and Capacity Monitoring System, Computerization in Andra Pradesh, Ekal Seva Kendra, Sachivalaya Vahini, Bhoomi, IT in Judiciary, E-Khazana , DGFT, PRAJA, E-Seva, E- Panchyat, General Information Services of National Informatics, Centre E-Governance initiative in USA, E-Governance in China, E-Governance in Brazil and Sri Lanka</p></dd>

                            </dl>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- ./col -->

            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-desktop"></i>
                                <i class="fa fa-flask"></i>
                                Lab and Practical works
                            </h3>
                            
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <p><b>Laboratory Work:</b></p><p>The laboratory work includes implementing e-governance models and systems using suitable</p><p>platform.</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- ./col -->

            </div>

</main>

    </div>
