@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">


        <p>This page contains Syllabus of Geographical Information System of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Geographical Information System
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC459</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Eighth-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Elective</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                      
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Synopsis: </b>Basic concepts of Geographical Information System</p><p><br></p><p><b>Goal:</b> The course covers about spatial data modelling and database design, capturing the real</p><p>world, spatial analysis and visualization, overview of open GIS</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                      
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Introduction
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p>1.1 Overview, History and concepts of GIS&nbsp;</p><p>1.2 Scope and application areas of GIS&nbsp;</p><p>1.3 Purpose and benefits of GIS&nbsp;</p><p>1.4 Functional components of GIS&nbsp;</p><p>1.5 Importance of GPS and remote sensing data in GIS&nbsp;</p><div><br></div></dd>

                            <dt>
                                2.
                                Digital mapping concept
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd><p>2.1 Map concept: map elements, map layers, map scales and representation</p><p>2.2 Map projection: coordinate system and projection system</p><div><br></div></dd>

                            <dt>
                                3.
                                Spatial data modeling and database design
                            </dt>
                            <dt>Teaching Hours: 9 hrs</dt>
                            <dd><p>3.1 introduction to geographic phenomena and data modeling</p><p>3.2 spatial relationships and topology</p><p>3.3 scale and resolution</p><p>3.4 vector, raster and digital terrain model</p><p>3.5 Spatial database design with the concepts of geodatabase.</p><div><br></div></dd>

                            <dt>
                                4.
                                Capturing the real world
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>4.1 different methods of data capture</p><p>4.2 map projection and spatial reference</p><p>4.3 data preparation, conversion and integration</p><p>4.4 quality aspects of spatial data</p><p>4.5 GPS</p><p>4.6 Remote Sensing</p><div><br></div></dd>

                            <dt>
                                5.
                                Spatial analysis and visualization
                            </dt>
                            <dt>Teaching Hours: 7 hrs</dt>
                            <dd><p>5.1 spatial analysis</p><p>i. overlay</p><p>ii. buffering</p><div><div>5.2 map outputs and its basic elements</div></div><div><br></div></dd>

                            <dt>
                                6.
                                Introduction to spatial data infrastructure
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>6.1 SDI concepts and its current trend</p><p>6.2 The concept of metadata and clearing house</p><p>6.3 Critical factors around SDIs</p><div><br></div></dd>

                            <dt>
                                7.
                                Open GIS
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p>7.1 Introduction of open concept in GIS</p><p>7.2 Open source software for spatial data analysis</p><p>7.3 Web Based GIS system</p><p>7.4 System Analysis and Design with GIS</p><div><br></div></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Laboratory work:</b></p><p>The lab should cover at least the concepts given the chapters</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
