@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">

    <p>This page contains Syllabus of International Marketing of CSIT. </p>




    <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


        <div class="card-body p-0">
            <table class="table table-sm">

                <tbody>
                    <tr>
                        <td>Title</td>

                        <td>
                            International Marketing
                        </td>
                    </tr>
                    <tr>
                        <td>Course code</td>

                        <td> MGT418</td>
                    </tr>
                    <tr>
                        <td>Nature of course</td>

                        <td>Theory</td>
                    </tr>
                    <tr>
                        <td>Semester</td>

                        <td>Seventh-Semester</td>
                    </tr>
                    <tr>
                        <td>Full Marks</td>

                        <td>80 + 20 </td>
                    </tr>
                    <tr>
                        <td>Pass marks</td>

                        <td>32 + 8 </td>
                    </tr>
                    <tr>
                        <td>Credit Hrs</td>

                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Elective/Compulsary</td>

                        <td>Elective</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>



    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-sticky-note"></i>
                        Course
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p>
                        <b>Course Description:</b> This course aims to provide an understanding of the process and dynamism of marketing
                        practiced across the international markets.
                    </p><p><br></p><p>
    <b>Course Objectives:</b> This is a comprehensive course that deals on the process and challenges of international
    marketing. The course includes topics such as scope and challenges of international marketing,
    dynamism in international trade, the cultural, political, and legal international environment,
    global marketing strategies, regional and multinational trade arrangements, and structure and
    dynamism in Nepal’s international trade.
</p><div><br></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-file"></i>
                        Units and Unit Content
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <dl>

                        <dt>
                            1.
                            Introduction
                        </dt>
                        <dt>Teaching Hours: 6 hrs</dt>
                        <dd>
                            <p>
                                Concept and growth of international marketing. International marketing tasks. Stages of
                                international marketing involvement. Strategic orientations in international marketing. The
                                dynamism in international trade – trade barriers, balance of payments, protectionism, tariffs,
                                quotas, and embargoes. Movements against trade restrictions – GATT and WTO. Regional
                                trading blocks.
                            </p><div><br></div>
                        </dd>

                        <dt>
                            Concept and growth of international marketing. International marketing tasks. Stages of
                            international marketing involvement. Strategic orientations in international marketing. The
                            dynamism in international trade – trade barriers, balance of payments, protectionism, tariffs,
                            quotas, and embargoes. Movements against trade restrictions – GATT and WTO. Regional
                            trading blocks.
                        </dt>
                        <dt>Teaching Hours: 10 hrs</dt>
                        <dd>
                            <p>
                                Cultural environment: Concept and origins of culture. Elements of culture. Cultural barriers in
                                international trade. Importance of international cultural knowledge and cultural change in
                                marketing. Political environment: Sovereignty of nations. Political risks of international
                                business. Political vulnerability assessment and risk minimization strategies. Legal environment:
                                Bases of legal systems. Jurisdictions in international legal disputes and dispute resolution
                                methods.
                            </p><div><br></div>
                        </dd>

                        <dt>
                            3.
                            International Marketing Research Global Marketing Information System
                        </dt>
                        <dt>Teaching Hours: 8 hrs</dt>
                        <dd>
                            <p>
                                Concept and Scope of international marketing research. Process of research – problem
                                identification and research objectives. Concept and components of marketing information
                                system, sources of global marketing information.

                            </p><div><br></div>
                        </dd>

                        <dt>
                            4.
                            International Marketing Management
                        </dt>
                        <dt>Teaching Hours: 11 hrs</dt>
                        <dd>
                            <p>
                                Product development for international markets – quality, green marketing, and adaptation issues.
                                Marketing opportunities in services. Challenges of managing brands globally. International
                                marketing channels – distribution patterns in international markets. Marketing intermediaries and
                                choice factors. Communications – Integrated marketing communications in international
                                marketing. International advertising goals and strategy. International pricing – approaches to
                                international pricing, price escalation and its effects. Transfer pricing strategy
                            </p><div><br></div>
                        </dd>

                        <dt>
                            5.
                            Nepal’s International Trade
                        </dt>
                        <dt>Teaching Hours:10 hrs</dt>
                        <dd>
                            <p>
                                Structural dynamism in Nepal’s foreign trade. Import and export sources. Import and export
                                procedures and documentations. Institutional mechanism for international trade – Public, private,
                                and non-governmental agencies for trade and export promotions. Key problems in Nepal’s
                                international trade. SAPTA and SAFTA.
                            </p><div><br></div>
                        </dd>

                     


                    </dl>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-book"></i>
                        Recommended Books
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p>
                        <b>Text Books:</b>
                        <br />1.. Cateora, Philip, John Graham, and Prasant Salwan, International Marketing, Tata
                        McGraw Hill.
                        <br /> 2. Terpstra, Vern and Ravi Sarathy, International Marketing, Dryden Press

                        <br />3. Jain, Subhash, International Marketing Management, CBS Publications.
                      
                    </p>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>


</div>