@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">
 

        <p>This page contains Syllabus of Internship of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Internship
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC452</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Project</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>eighth-semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>80</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Compulsary</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Synopsis</b></p><p>The students are required to complete a six credit (minimum ten weeks/180 hour long) internship</p><p>as a part of the course requirement. Industry is a crucial requirement of the Internship course and</p><p>this will have to be secured before getting started with the course. The work that the students</p><p>perform during the Internship will have to be supervised by the faculty members as well as by</p><p>representatives from the participating Industries. The internship experience is expected to enable</p><p>the students to assist in the resolution of complex problem associated with Database systems.</p><p>At the end of the Internship, the student(s) are required to write a report on their internship work.</p><p>Such a report needs to be structured according to the prescribed format. The Report forms a</p><p>major aspect of the evaluation of the Internship work.</p><p><br></p><p><b>Goal</b></p><p>Main goal is to assist students in focusing their interests, thus aiding in their professional carrier.</p><p>It gives students the opportunity to re-examine their career objectives and explore the variety of</p><p>opportunities in the field of computer networking.</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                    
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>
                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                      
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p>&nbsp;</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
