@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">
   

        <p>This page contains Syllabus of Image Processing of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Image Processing
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC321</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Fifth-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Elective</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Description:</b> This course covers the investigation, creation and manipulation of digital</p><p>images by computer. The course consists of theoretical material introducing the mathematics</p><p>of images and imaging. Topics include representation of two-dimensional data, time and</p><p>frequency domain representations, filtering and enhancement, the Fourier transform,</p><p>convolution, interpolation. The student will become familiar with Image Enhancement, Image</p><p>Restoration, Image Compression, Morphological Image Processing, Image Segmentation,</p><p>Representation and Description, and Object Recognition.</p><p><br></p><p><b>Course Objectives:</b> The objective of this course is to make students able to:</p><p>Ø develop a theoretical foundation of Digital Image Processing concepts.</p><p>Ø provide mathematical foundations for digital manipulation of images; image</p><p>acquisition; preprocessing; segmentation; Fourier domain processing; and compression.</p><p>Ø gain experience and practical techniques to write programs for digital manipulation of</p><p>images; image acquisition; pre-processing; segmentation; Fourier domain processing;</p><p>and compression.</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Introduction
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>Definition of digital image, pixels, representation of digital image in spatial domain as well as in matrix form.Block diagram of fundamentals steps in digital image processing, application of digital image processing system, Elements of Digital Image, Processing systems,Structure of the Human, Image Formation in the Eye, Brightness Adaptation and Discrimination, Basic Concepts in Sampling and Quantization,Representing Digital Images, Spatial and Gray- Level Resolution, Neighbors of a Pixel, Adjacency, Connectivity,</p><p>Regions, and Boundaries, Distance Measures</p><p>between pixels</p></dd>

                            <dt>
                                2.
                                Image Enhancement and Filter in Spatial Domain
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>Point operations, Contrast stretching, clipping and thresholding, digital negative, intensity level slicing, log transformation, power log transformation, bit plane slicing, Unnormalized and Normalized Histogram, Histogram Equalization, Use of Histogram Statistics for Image Enhancement, Basics of Spatial Filtering, Linear filters, Spatial Low pass smoothing filters, Averaging, Weighted Averaging, Non-Linear filters, Median filter, Maximum and Minimum filters, High pass sharpening filters, High boost filter, high frequency emphasis filter, Gradient based filters, Robert Cross Gradient Operators, Prewitt filters, Sobel filters, Second Derivative filters, Laplacian filters,&nbsp;Magnification by replication and interpolation</p></dd>

                            <dt>
                                5.
                                Introduction to Morphological Image Processing
                            </dt>
                            <dt>Teaching Hours: 2 hrs</dt>
                            <dd><p>Logic Operations involving binary images, Introduction to Morphological Image Processing, Definition of Fit and Hit,&nbsp;Dilation and Erosion, Opening and Closing</p></dd>

                            <dt>
                                6.
                                Image Segmentation
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>Definition, Similarity and Discontinuity based techniques, Point Detection, Line Detection, Edge Detection using Gradient and Laplacian Filters, Mexican Hat Filters, Edge Linking and Boundary Detection, Hough Transform, Thresholding: Global, Local and Adaptive Region Based Segmentation: Region Growing Algorithm, Region Split and Merge Algorithm</p></dd>

                            <dt>
                                7.
                                Representations, Description and Recognition
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>Introduction to some descriptors: Chain codes, Signatures, Shape Numbers, Fourier Descriptors, Patterns and pattern classes, Decision-Theoretic Methods, Introduction to Neural Networks and Neural Network based Image Recognition, Overview of Pattern Recognition with block diagram</p></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Laboratory Works:</b></p><p>Students are required to develop programs in related topics using suitable programming</p><p>languages such as MatLab or Python or other similar programming languages.</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
