@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">

    <p>This page contains Syllabus of Mathematics II of CSIT. </p>



    <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


        <div class="card-body p-0">
            <table class="table table-sm">

                <tbody>
                    <tr>
                        <td>Title</td>

                        <td>
                            Mathematics II
                        </td>
                    </tr>
                    <tr>
                        <td>Course code</td>

                        <td>MTH163</td>
                    </tr>
                    <tr>
                        <td>Nature of course</td>

                        <td>Theory and Practice</td>
                    </tr>
                    <tr>
                        <td>Semester</td>

                        <td>Second-Semester</td>
                    </tr>
                    <tr>
                        <td>Full marks</td>

                        <td>80+20</td>
                    </tr>
                    <tr>
                        <td>Pass marks</td>

                        <td>32+8</td>
                    </tr>
                    <tr>
                        <td>Credit Hrs</td>

                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Elective/Compulsary</td>

                        <td>Compulsary</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>



    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-book"></i>
                        Course Description
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p>&nbsp;</p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-file"></i>
                        Units and Unit Content
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <dl>

                        <dt>
                            1.
                            Linear Equations in Linear Algebra
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>System of linear equations, Row reduction and Echelon forms, Vector equations, The matrix equations Ax = b, Applications of linear system, Linear independence</p><div><br></div></dd>

                        <dt>
                            2.
                            Transformation
                        </dt>
                        <dt>Teaching Hours: 4 hrs</dt>
                        <dd><p>Introduction to linear transformations, the matrix of a linear Transformation, Linear models in business, science, and engineering</p><div><br></div></dd>

                        <dt>
                            3.
                            Matrix Algebra
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Matrix operations, The inverse of a matrix, Characterizations of invertible matrices, Partitioned matrices, Matrix factorization, The Leontief input output model, Subspace of Rn, Dimension and rank</p><div><br></div></dd>

                        <dt>
                            4.
                            Determinants
                        </dt>
                        <dt>Teaching Hours: 4 hrs</dt>
                        <dd><p>Introduction, Properties, Cramer’s rule, Volume and linear transformations</p><div><br></div></dd>

                        <dt>
                            5.
                            Vector Spaces
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Vector spaces and subspaces, Null spaces, Column spaces, and Linear transformations, Linearly independent sets: Bases, Coordinate systems</p><div><br></div></dd>

                        <dt>
                            6.
                            Vector Space Continued
                        </dt>
                        <dt>Teaching Hours: 4 hrs</dt>
                        <dd><p>Dimension of vector space and Rank, Change of basis, Applications to difference equations, Applications to Markov Chains</p><div><br></div></dd>

                        <dt>
                            7.
                            Eigenvalues and Eigen Vectors
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Eigenvectors and Eigenvalues, The characteristic equations, Diagonalization, Eigenvectors and linear transformations, Complex eigenvalues, Discrete dynamical systems, Applications to differential equations</p><div><br></div></dd>

                        <dt>
                            8.
                            Orthogonality and Least Squares
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Inner product, Length, and orthoganility, Orthogonal sets, Orthogonal projections, The Gram- Schmidt process, Least squares problems, Application to linear models, Inner product spaces, Applications of inner product spaces</p><div><br></div></dd>

                        <dt>
                            9.
                            Groups and Subgroups
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Binary Operations, Groups, Subgroups, Cyclic Groups</p><div><br></div></dd>

                        <dt>
                            10.
                            Rings and Fields
                        </dt>
                        <dt>Teaching Hours: 4 hrs</dt>
                        <dd><p>Rings and Fields, Integral domains</p><div><br></div></dd>

                    </dl>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-desktop"></i>
                        <i class="fa fa-flask"></i>
                        Lab and Practical works
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p>&nbsp;</p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>



</div>
