@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">

    <div class="row no-gutters">
        <div class="col" style="margin-bottom: 1%; text-align: center;">
            <h1 style="margin-top: 1%;" class="text-center">Mathematics I (Calculus) Syllabus</h1>
            <a asp-controller="Course" asp-action="DL" class=" btn btn-info">Syllabus</a>
            <a asp-controller="Course" asp-action="DLnote" class=" btn btn-outline-info">Notes</a>



        </div>
    </div>

    <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


        <div class="card-body p-0">
            <table class="table table-sm">

                <tbody>
                    <tr>
                        <td>Title</td>

                        <td>
                            Mathematics I (Calculus)
                        </td>
                    </tr>
                    <tr>
                        <td>Course code</td>

                        <td>MTH112</td>
                    </tr>
                    <tr>
                        <td>Nature of course</td>

                        <td>Theory and Practice</td>
                    </tr>
                    <tr>
                        <td>Semester</td>

                        <td>First-Semester</td>
                    </tr>
                    <tr>
                        <td>Full marks</td>

                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Pass marks</td>

                        <td>40</td>
                    </tr>
                    <tr>
                        <td>Credit Hrs</td>

                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Elective/Compulsary</td>

                        <td>Compulsary</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>



    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-book"></i>
                        Course Description
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p>&nbsp;</p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-file"></i>
                        Units and Unit Content
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <dl>

                        <dt>
                            1.
                            Function of One Variable
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Four ways of representing a function, Linear mathematical model, Polynomial, Rational,</p><p>Trigonometric, Exponential and Logarithmic functions, Combination of functions, Range and</p><p>domain of functions and their Graphs</p><div><br></div></dd>

                        <dt>
                            2.
                            Limits and Continuity
                        </dt>
                        <dt>Teaching Hours: 4 hrs</dt>
                        <dd><p>Precise definition of Limit, Limits at infinity, Continuity, Horizontal asymptotes, Vertical and</p><p>Slant asymptotes</p><div><br></div></dd>

                        <dt>
                            3.
                            Derivatives
                        </dt>
                        <dt>Teaching Hours: 4 hrs</dt>
                        <dd><p>Tangents and velocity, Rate of change, Review of derivative, Differentiability of a function,<br></p><p>Mean value theorem, Indeterminate forms and L’Hospital rule</p><div><br></div></dd>

                        <dt>
                            4.
                            Applications of Derivatives
                        </dt>
                        <dt>Teaching Hours: 4 hrs</dt>
                        <dd><p>Curve sketching, Review of maxima and minima of one variable, Optimization problems,</p><p>Newton’s method</p><div><br></div></dd>

                        <dt>
                            5.
                            Antiderivatives
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Review of antiderivatives, Rectilinear motion, Indefinite integrals and Net change, Definite</p><p>integral, The Fundamental theorem of calculus, Improper integrals</p><div><br></div></dd>

                        <dt>
                            6.
                            Applications of Antiderivatives
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Areas between the curves, Volumes of cylindrical cells, Approximate Integrations, Arc length,</p><p>Area of surface of revolution</p><div><br></div></dd>

                        <dt>
                            7.
                            Ordinary Differential Equations
                        </dt>
                        <dt>Teaching Hours: 6 hrs</dt>
                        <dd><p>Introduction, Introduction to first order equations Separable equations, Linear equations, Second</p><p>order linear differential equations, Non homogeneous linear equations, Method of undetermined</p><p>coefficients</p><div><br></div></dd>

                        <dt>
                            8.
                            Infinite Sequence and Series
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Infinite sequence and series, Convergence tests and power series, Taylor’s and Maclaurin’s</p><p>series</p><div><br></div></dd>

                        <dt>
                            9.
                            Plane and Space Vectors
                        </dt>
                        <dt>Teaching Hours: 4 hrs</dt>
                        <dd><p>Introduction, Applications, Dot product and cross Product, Equations of lines and Planes,</p><p>Derivative and integrals of vector functions, Arc length and curvature, Normal and binormal</p><p>vectors, Motion in space</p><div><br></div></dd>

                        <dt>
                            10.
                            Partial Derivatives and Multiple Integrals
                        </dt>
                        <dt>Teaching Hours: 3 hrs</dt>
                        <dd><p>Limit and continuity, Partial derivatives, Tangent planes, Maximum and minimum values,</p><p>Multiple integrals</p><div><br></div></dd>

                        <dt>
                            11.
                            Old Syllabus
                        </dt>
                        <dt>Teaching Hours: 0 hrs</dt>
                        <dd><p>&nbsp;</p></dd>

                    </dl>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-desktop"></i>
                        <i class="fa fa-flask"></i>
                        Lab and Practical works
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p>&nbsp;</p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>



</div>