@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">
   

        <p>This page contains Syllabus of Microprocessor Based Design of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Microprocessor Based Design
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC324</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Fifth-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Elective</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Description:</b> In this course, the range of issues to be considered in designing a</p><p>microprocessor-based system is discussed. First, the criteria for selecting a microprocessor/</p><p>microcontroller are discussed, and second, the hardware and software aspects of designing</p><p>systems are focused.</p><p><br></p><p><b>Course Objective:</b> The course objective is to demonstrate the concept of microprocessor and</p><p>to be able to design a microprocessor based system to get desired results. It also emphasizes</p><p>on hardware interfacing of 8051 to develop solutions of real world problems.</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Introduction to Microcontroller
                            </dt>
                            <dt>Teaching Hours: 12 hrs</dt>
                            <dd><p>Overview of Typical Microcontroller, The Pico controller,&nbsp;The Microcontroller’s Memory, The Central Processor, Timing,&nbsp;The I/O Interface, The Address, Data, and Control Buses,&nbsp;The Pico controller Design,&nbsp;Software/Firmware Development Architecture,&nbsp;Interfacing, Interfacing Types, Interfacing Techniques,&nbsp;Introduction of PIC, and ARM<br></p></dd>

                            <dt>
                                2.
                                Sensors and Actuators
                            </dt>
                            <dt>Teaching Hours: 7 hrs</dt>
                            <dd><p>Sensors,&nbsp;Analog to Digital Conversion,&nbsp;Control Algorithm,&nbsp;Digital to Analog Conversion,&nbsp;Actuator<br></p></dd>

                            <dt>
                                3.
                                Bus and Communication Technology
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>Common Parallel and Serial Bus Systems,&nbsp;Topology,&nbsp;Arbitration,&nbsp;Synchronization,&nbsp;CAN-Protocol,&nbsp;Bluetooth, PCI,&nbsp;ISA,&nbsp;WIFI<br></p></dd>

                            <dt>
                                4.
                                Introduction to 8051 Microcontroller and Programming
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>8051 architecture and pin diagram,&nbsp;Registers, Timers, Counters, Flags,&nbsp;Special Function Registers,&nbsp;Addressing Modes,&nbsp;Data types, Instructions and Programming,&nbsp;Single–bit Operations,&nbsp;Timer and Counter Programming,&nbsp;Interrupts Programming,&nbsp;Serial Communication,&nbsp;Memory Accessing and their Simple Programming Applications<br></p></dd>

                            <dt>
                                5.
                                Electromagnetic Interference and Compatibility
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p>Basics of PCB Design,&nbsp;Design Consideration,&nbsp;Impact of EMI,&nbsp;Sources of EMI,&nbsp;Types of Noise,&nbsp;Grounding, Shielding,&nbsp;EMI, and EMC Standard<br></p></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Laboratory works:</b></p><ul><li>&nbsp;Programming and Application development using any microcontroller like 8051,</li></ul><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Atmel, Arduino platform</p><ul><li>&nbsp;Interfacing different Sensors and I/O Devices</li><li>&nbsp;Small scale PCB design using software design tool</li><li>&nbsp;Interfacing to ADC, DAC, and Sensors</li></ul><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
