@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">


        <p>This page contains Syllabus of Multimedia Computing of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Multimedia Computing
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC319</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Fifth-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Elective</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Description: </b>This course covers the basic concepts of Multimedia system including</p><p>introduction, Sound / Audio System, Images and Graphics,</p><p>Video and Animation, Data</p><p>Compression, User Interfaces, Abstractions for programming and Multimedia Application</p><p><br></p><p><b>Course Objectives:</b> This course covers three main objectives on multimedia system these are</p><p>devices, systems and applications</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Introduction to Computers
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd><p>&nbsp;</p></dd>

                            <dt>
                                2.
                                Sound Audio System
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p>&nbsp;</p></dd>

                            <dt>
                                3.
                                Images and Graphics
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>&nbsp;</p></dd>

                            <dt>
                                4.
                                Video and Animation
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p>&nbsp;</p></dd>

                            <dt>
                                5.
                                Data Compression
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>&nbsp;</p></dd>

                            <dt>
                                6.
                                User Interfaces
                            </dt>
                            <dt>teaching hours: 5 hrs</dt>
                            <dd><p>&nbsp;</p></dd>

                            <dt>
                                7.
                                Abstractions for programming
                            </dt>
                            <dt>teaching hours: 5 hrs</dt>
                            <dd><p>&nbsp;</p></dd>

                            <dt>
                                8.
                                Multimedia Application
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>&nbsp;</p></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Laboratory Works:</b></p><p>After completing this course, students should have practical knowledge of different</p><p>components of multimedia system, multimedia tools and applications</p><p>The laboratory work includes:</p><p>Macromedia FreeHand</p><p>Macromedia Flash</p><p>Swish Max</p><p>Macromedia Director</p><p>Morphing techniques</p><p>Audio and Video editing software</p><p>Data compression</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
