@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">

    <p>This page contains Syllabus of Microprocessor of CSIT. </p>

   

    <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


        <div class="card-body p-0">
            <table class="table table-sm">

                <tbody>
                    <tr>
                        <td>Title</td>

                        <td>
                            Microprocessor
                        </td>
                    </tr>
                    <tr>
                        <td>Course code</td>

                        <td>CSC162</td>
                    </tr>
                    <tr>
                        <td>Nature of course</td>

                        <td>Theory + Lab</td>
                    </tr>
                    <tr>
                        <td>Semester</td>

                        <td>Second-Semester</td>
                    </tr>
                    <tr>
                        <td>Full marks</td>

                        <td>60 + 20 + 20</td>
                    </tr>
                    <tr>
                        <td>Pass marks</td>

                        <td>24 + 8 + 8</td>
                    </tr>
                    <tr>
                        <td>Credit Hrs</td>

                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Elective/Compulsary</td>

                        <td>Compulsary</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>



    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-book"></i>
                        Course Description
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p><b>Course Description:</b> This course contains fundamental concepts of Microprocessor operations, basic I/O interfaces and Interrupts operations.</p><p><br></p><p><b>Course Objectives:</b> The course objective is to introduce the operation, programming and application of microprocessor.</p><div><br></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-file"></i>
                        Units and Unit Content
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <dl>

                        <dt>
                            1.
                            Introduction
                        </dt>
                        <dt>Teaching Hours: 4 hrs</dt>
                        <dd><p>Introduction to Microprocessor, Components of a Microprocessor: Registers, ALU and control &amp; timing, System bus (data, address and control bus), Microprocessor systems with bus organization</p><div><br></div></dd>

                        <dt>
                            2.
                            Basic Architecture
                        </dt>
                        <dt>Teaching Hours: 7 hrs</dt>
                        <dd><p>Microprocessor Architecture and Operations, Memory, I/O devices, Memory and I/O operations, 8085 Microprocessor Architecture, Address, Data And Control Buses, 8085 Pin Functions,Demultiplexing of Buses, Generation Of Control Signals</p><div><br></div></dd>

                        <dt>
                            3.
                            Instruction Cycle
                        </dt>
                        <dt>Teaching Hours: 3 hrs</dt>
                        <dd><p>Fetch Operation and Timing Diagram; Execute Operation and Timing Diagram, Instruction Cycle, Machine Cycle, T-States, T-States, Memory Interfacing</p><div><br></div></dd>

                        <dt>
                            4.
                            Assembly Language Programming
                        </dt>
                        <dt>Teaching Hours: 10 hrs</dt>
                        <dd><p>Assembly instruction format, Instruction Types, Mnemonics, Operands, Macro assemblers, Linking, Assembler directives, Addressing Modes, Simple sequence programs, Flags, Branch,Jumps, While-Do, Repeat-Until, If-Then-Else and Multiple If-then Programs, Debugging</p><div><br></div></dd>

                        <dt>
                            4.
                            Basic I/O, Memory R/W and Interrupt Operations
                        </dt>
                        <dt>Teaching Hours: 6 hrs</dt>
                        <dd><p>Memory Read, Memory Write, I/O Read, I/O Write, Direct Memory Access, Interrupt, Types, Interrupt Masking</p><div><br></div></dd>

                        <dt>
                            6.
                            Input/ Output Interfaces
                        </dt>
                        <dt>Teaching Hours: 6 hrs</dt>
                        <dd><p>Interfacing Concepts, Ports, Interfacing Of I/O Devices, Interrupts In 8085, Programmable Interrupt Controller 8259A, Programmable Peripheral Interface 8255A</p><div><br></div></dd>

                        <dt>
                            7.
                            Advanced Microprocessors
                        </dt>
                        <dt>Teaching Hours: 9 hrs</dt>
                        <dd><p>8086: logical block diagram and segments, 80286: Architecture, Registers, (Real/Protected mode), Privilege levels, descriptor cache, Memory access in GDT and LDT, multitasking, addressing modes, flag register 80386: Architecture, Register organization, Memory access in  protected mode, Paging</p><div><br></div></dd>

                        <dt>
                            8.
                            Old Syllabus
                        </dt>
                        <dt>Teaching Hours: 0 hrs</dt>
                        <dd><p>&nbsp;</p></dd>

                    </dl>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-desktop"></i>
                        <i class="fa fa-flask"></i>
                        Lab and Practical works
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p><b>Laboratory Works:</b></p><p>The laboratory work includes Assembly language programming using 8085/8086/8088 trainer kit. The programming should include: Arithmetic operation, base conversion, conditional branching etc. The lab work list may include following concepts:</p><p>1. Assembly language program using 8085 microprocessor kit and 8085 microprocessor simulator.</p><p>2. Use of all types of instructions and addressing modes.</p><p>3. Program including basic arithmetical, logical, looping, bitwise and branching.</p><p>4. Assembly language programming using 8086 microprocessor emulator, using any types</p><p>of Assembler, including the different functions of 21H.</p><div><br></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>



</div>