@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">
    <main>

        <div class="row no-gutters">
            <div class="col" style="margin-bottom: 1%; text-align: center;">
                <h1 style="margin-top: 1%;" class="text-center">Net Centric Computing Syllabus</h1>
                <a asp-controller="Course" asp-action="NCC" class=" btn btn-info">Syllabus</a>
                <a asp-controller="Course" asp-action="NCCnote" class=" btn btn-outline-info">Notes</a>



            </div>
        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                NET Centric Computing
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC367</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>sixth-semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Compulsary</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                        <div class="card-tools">
                          
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Description:</b></p><p>The course covers the concepts of cross-platform web application development using the ASP.NET Core MVC framework using C# programming Language.</p><p><b>Course Objectives:</b></p><p>The objective of this course is to understand the theoretical foundation as well as its practical aspects of ASP.NET Core web application framework and C# language features.</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                        <div class="card-tools">
                           
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Language Preliminaries
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>Introduction to .Net framework, Compilation and execution of .Net applications, Basic Languages constructs, Constructor, Properties, Arrays and String, Indexers, Inheritance, use of “base” keyword, Method hiding and overriding, applying polymorphism in code extensibility, structs and enums, abstract class sealed class, interface, Delegate and Events, Partial class, Collections, Generics, File IO, LINQ (Language Integrated Query) Fundamentals: Lambda Expressions, Try statements and Exceptions, Attributes: Attribute Classes, Named and Positional Attribute Parameters, Attribute Targets, Specifying Multiple Attributes, Asynchronous Programming: Principle of Asynchrony, Async/Await patterns in C#</p></dd>

                            <dt>
                                2.
                                Introduction to ASP.NET
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd><p>.NET and ASP.NET frameworks: .NET, .NET Core, Mono, ASP.NET Web Forms, ASP.NET MVC, ASP.NET Web API, ASP.NET Core, .NET Architecture and Design Principles, Compilation and Execution of .NET applications: CLI, MSIL and CLR, .NET Core in detail, .NET CLI: build, run, test and deploy .NET Core Applications</p></dd>

                            <dt>
                                3.
                                HTTP and ASP.NET Core
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd><p>HTTP, Request and Response Message Format, Common web application architectures, MVC Pattern, ASP.NET Core Architecture Overview, Projects, and Conventions, ASP.NET and ASP.NET MVC</p></dd>

                            <dt>
                                4.
                                Creating ASP.NET core MVC applications
                            </dt>
                            <dt>Teaching Hours: 10 hrs</dt>
                            <dd><p>Setting up the Environment, Controllers and Actions: Create Controllers, Create Actions and Action Results Types, Rendering HTML with Views: Razor Syntax, Understanding Tag Helpers, Models: Binding and Validations, URL Routing and features, Web API Applications: API Controllers, JSON, Dependency Injection and IOC containers</p></dd>

                            <dt>
                                5.
                                Working with Database
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p>ADO.NET basics: Connection, Command, Reader and Adapter classes, Entity Framework (EF) Core, Object-Relational Mapper (ORM), Adding EF Core to an application: Choosing database provider, data models and data context, Querying and Saving data to database: Create, read, update and delete records</p></dd>

                            <dt>
                                6.
                                State Management on ASP.NET Core Application
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p>State Management on stateless HTTP, Server-side strategies: Session State, TempData, Using HttpContext, Cache Client-side strategies: Cookies, Query Strings, Hidden Fields</p></dd>

                            <dt>
                                7.
                                Client-side Development in ASP.NET Core
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p>Common client-side web technologies, JQuery, Forms and Validation, Single Page Application (SPA) Frameworks: Angular, React</p></dd>

                            <dt>
                                8.
                                Securing in ASP.NET Core Application
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>Authentication: ASP.NET Core Identity, Adding authentication to apps and identity service configurations, Authorization: Roles, Claims and Policies, Securing Controllers and Action Methods, Common Vulnerabilities: Cross-site Scripting attacks, SQL Injection attacks, Cross-site Request Forgery (CSRF), Open Redirect Attacks</p></dd>

                            <dt>
                                9.
                                Hosting and Deploying ASP.NET Core Application
                            </dt>
                            <dt>Teaching Hours: 2 hrs</dt>
                            <dd><p>App Servers and Hosting models: IIS, Nginx, Apache, ASP.NET Core Module, Kestrel, Docker and Containerization, Publish to Azure cloud</p></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                        <div class="card-tools">
                            
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Laboratory works:</b></p><p>The laboratory work includes writing programs covering most of the concepts of above units using C# and .NET core SDK (3.0 or above)</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

</main>

</div>
