@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">
    <main>

        <div class="row no-gutters">
            <div class="col" style="margin-bottom: 1%; text-align: center;">
                <h1 style="margin-top: 1%;" class="text-center">NET Centric Computing Notes</h1>
                <a asp-controller="Course" asp-action="NCC" class=" btn btn-outline-info">Syllabus</a>
                <a asp-controller="Course" asp-action="NCCnote" class=" btn btn-info">Notes</a>
            </div>
            <a href="C:\Users\admin\Desktop\EasyCSIT - Copy\EasyCSIT\Views\Course\NCCnote.cshtml">C:\Users\admin\Desktop\EasyCSIT - Copy\EasyCSIT\Views\Course\NCCnote.cshtml</a>
        </div>
        <div class="row no-gutters">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">

            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">


                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 1: Language Preliminaries</h4>

                                <p class="card-text">

                                    unit 1: <b>Language Preliminaries</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/NCC/Unit-1 (1).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="https://drive.google.com/uc?export=download&amp;id=1A821u8TWQJ-pjMFTUTpS-ubPCsAA_Wsm" target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/NCC/Unit-1 (1).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-1-language-preliminaries%2F239%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f2cb1354bc922c" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3433bbb08830e%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff613845fc1895c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-1-language-preliminaries%2F239%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 2: Introduction to ASP.NET</h4>

                                <p class="card-text">

                                    unit 2: <b>Introduction to ASP.NET</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/NCC/Unit-2 (1).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="https://drive.google.com/uc?export=download&amp;id=1Tc20hqw0sTBkqXos1-DUnBtL9fJWpk_h" target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/NCC/Unit-2 (1).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-2-introduction-to-aspnet%2F240%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f5bdd521557758" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df39a6514249a7e4%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff613845fc1895c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-2-introduction-to-aspnet%2F240%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 3: HTTP and ASP.NET Core</h4>

                                <p class="card-text">

                                    unit 3: <b>HTTP and ASP.NET Core</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/NCC/Unit-3 (1).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="https://drive.google.com/uc?export=download&amp;id=10-2qUhW100RIim61qL7G-MGuCaf4sOip" target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/NCC/Unit-3 (1).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-3-http-and-aspnet-core%2F241%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f1d22013356aa58" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df134837a5e3228%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff613845fc1895c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-3-http-and-aspnet-core%2F241%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 4: Creating ASP.NET core MVC applications</h4>

                                <p class="card-text">

                                    unit 4: <b>Creating ASP.NET core MVC applications</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/NCC/Unit-4 (1).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="https://drive.google.com/uc?export=download&amp;id=1hGEScp7sBrmU-faWfWU7S2ss7PEjzaOU" target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/NCC/Unit-4 (1).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-4-creating-aspnet-core-mvc-applications%2F242%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f12d9ea3c62f8c8" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df11ca911bb83abc%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff613845fc1895c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-4-creating-aspnet-core-mvc-applications%2F242%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 5: Working with Database</h4>

                                <p class="card-text">

                                    unit 5: <b>Working with Database</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/NCC/Unit-5 (2).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="https://drive.google.com/uc?export=download&amp;id=1-zIxJS-NOmdwK4w0nJWCTzVkXDW0SVQx" target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/NCC/Unit-5 (2).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-5-working-with-database%2F243%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f328a8e25ad30b" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3285ec632d2d9%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff613845fc1895c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-5-working-with-database%2F243%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 6: State Management on ASP.NET Core Application</h4>

                                <p class="card-text">

                                    unit 6: <b>State Management on ASP.NET Core Application</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/NCC/Unit-6 (1).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="https://drive.google.com/uc?export=download&amp;id=1q3Er8lpzTOffiT80t0NtzObyvV3z6ena" target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/NCC/Unit-6 (1).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-6-state-management-on-aspnet-core-application%2F244%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f2d9359c2593f94" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3e354e7c74586%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff613845fc1895c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-6-state-management-on-aspnet-core-application%2F244%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 7: Client-side Development in ASP.NET Core</h4>

                                <p class="card-text">

                                    unit 7: <b>Client-side Development in ASP.NET Core</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/NCC/Unit-6 (1).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="https://drive.google.com/uc?export=download&amp;id=1sIPGj0hdCYBuBwnRjD4oHfSzescTswEm" target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/NCC/Unit-6 (1).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-7-client-side-development-in-aspnet-core%2F245%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f29c63f16a4751c" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df9747f35a4c2a4%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff613845fc1895c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-7-client-side-development-in-aspnet-core%2F245%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 8: Securing in ASP.NET Core Application</h4>

                                <p class="card-text">

                                    unit 8: <b>Securing in ASP.NET Core Application</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/NCC/Unit-8 (2).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="https://drive.google.com/uc?export=download&amp;id=1nKo75fnbdni7zaa1ZfStdFICWwoerQ0o" target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/NCC/Unit-8 (2).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-8-securing-in-aspnet-core-application%2F246%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f1d014bd4be4f18" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1e9848e6a9447%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff613845fc1895c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-8-securing-in-aspnet-core-application%2F246%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 9: Hosting and Deploying ASP.NET Core Application</h4>

                                <p class="card-text">

                                    unit 9: <b>Hosting and Deploying ASP.NET Core Application</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/NCC/Unit-9 (2).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="https://drive.google.com/uc?export=download&amp;id=1Nst5enxa1-7NHonqmBlbzKoP7JeDoVX4" target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/NCC/Unit-9 (2).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-9-hosting-and-deploying-aspnet-core-application%2F247%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="fc154ee78a152" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df22d11042902574%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff613845fc1895c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F56%2Fsixth-semester%2Fnet-centric-computing%2Funit-9-hosting-and-deploying-aspnet-core-application%2F247%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>


            </div>


            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">

            </div>
        </div>

    </main>
    </div>