@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">
   

        <p>This page contains Syllabus of Numerical Method of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Numerical Method
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC207</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Third-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Compulsary</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Description:</b> This course contains the concepts of numerical method techniques for</p><p>solving linear and nonlinear equations, interpolation and regression, differentiation and</p><p>integration, and partial differential equations.</p><p><br></p><p><b>Course Objectives:</b> The main objective of the course is to provide the knowledge of numerical</p><p>method techniques for mathematical modeling.</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Solution of Nonlinear Equations
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>1.1 Errors in Numerical Calculations, Sources of Errors, Propagation of Errors, Review of</p><p>Taylor's Theorem</p><p>1.2 Solving Non-linear Equations by Trial and Error method, Half-Interval method and</p><p>Convergence, Newton's method and Convergence, Secant method and Convergence,</p><p>Fixed point iteration and its convergence, Newton's method for calculating multiple roots,</p><p>Horner's method</p><div><br></div></dd>

                            <dt>
                                2.
                                Interpolation and Regression
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>2.1 Interpolation vs Extrapolation, Lagrange's Interpolation, Newton's Interpolation using</p><p>divided differences, forward differences and backward differences, Cubic spline</p><p>interpolation</p><p>2.2 Introduction of Regression, Regression vs Interpolation, Least squares method, Linear</p><p>Regression, Non-linear Regression by fitting Exponential and Polynomial</p><div><br></div></dd>

                            <dt>
                                3.
                                Numerical Differentiation and Integration
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>3.1 Differentiating Continuous Functions (Two-Point and Three-Point Formula),</p><p>Differentiating Tabulated Functions by using Newton’s Differences, Maxima and minima</p><p>of Tabulated Functions</p><p>3.2 Newton-Cote's Quadrature Formulas, Trapezoidal rule, Multi-Segment Trapezoidal rule,</p><p>Simpson's 1/3 rule, Multi-Segment Simpson's 1/3 rule, Simpson's 3/8 rule, Multi-</p><p>Segment Simpson's 3/8 rule, Gaussian integration algorithm, Romberg integration</p><div><br></div></dd>

                            <dt>
                                4.
                                Solving System of Linear Equations
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>4.1 Review of the existence of solutions and properties of matrices, Gaussian elimination</p><p>method, pivoting, Gauss-Jordan method, Inverse of matrix using Gauss-Jordan method</p><p>4.2 Matrix factorization and Solving System of Linear Equations by using Dolittle and</p><p>Cholesky's algorithm</p><p>4.3 Iterative Solutions of System of Linear Equations, Jacobi Iteration Method, Gauss-Seidal</p><p>Method</p><div><div>4.4 Eigen values and eigen vectors problems, Solving eigen value problems using power</div><div>method.</div></div><div><br></div></dd>

                            <dt>
                                5.
                                Solution of Ordinary Differential Equations
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>5.1 Review of differential equations, Initial value problem, Taylor series method, Picard's</p><p>method, Euler's method and its accuracy, Heun's method, Runge-Kutta methods</p><p>5.2 Solving System of ordinary differential equations, Solution of the higher order equations,</p><p>Boundary value problems, Shooting method and its algorithm</p><div><br></div></dd>

                            <dt>
                                6.
                                Solution of Partial Differential Equations
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>6.1 Review of partial differential equations, Classification of partial differential equation,</p><p>Deriving difference equations, Laplacian equation and Poisson's equation, engineering</p><p>examples</p><div><br></div></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-desktop"></i>
                            <i class="fas fa-flask"></i>
                            Lab and Practical works
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fas fa-expand"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p>Laboratory Works:</p><p>The laboratory exercise should consists of program development and testing of non-linear</p><p>equations, interpolation, numerical integration and differentation, linear algebraic equations,</p><p>ordinary and partial differential equations numerical solutions using appropriate languages like</p><p>C, C++ or Matlab.</p><p>List topics to be included in Laboratory Exercises:</p><ul><li>&nbsp;Solution of non-linear equations using Bisection Method and Secant Method</li><li>&nbsp;Solution of non-linear equations using Newton’s Raphson Method and Fixed Point</li></ul><p>Iteration Method</p><ul><li>&nbsp;Solution of polynomial using Newton’s Method and Horner’s Rule to evaluate</li></ul><p>polynomial</p><ul><li>&nbsp;Polynomial interpolation using Lagrange’s Interpolation and Newton’s Divided Difference&nbsp; &nbsp;Interpolation, Newton’s forward and backward difference interpolation</li></ul><ul><li>&nbsp;Fitting of linear (straight line , y=ax + b) and non-linear (exponential y=aebx,&nbsp; &nbsp;quadraticy=ax2+bx+c) function using least square method</li></ul><ul><li>&nbsp;Derivatives from divided difference table</li><li>&nbsp;Integration using Trapezoidal rule, Simpson’s 1/3 rule and Simpson’s 3/8 rule, Line and</li></ul><p>Double Integration.</p><ul><li>&nbsp;Solution of system of linear equations using Gauss Elimination method and Gauss Jordan</li></ul><p>Method</p><ul><li>&nbsp;Gauss Seidel Method, Jacobi Method and Power Method</li><li>&nbsp;Solution of ordinary differential equation using Euler’s Method, Heun’s Method and 4th&nbsp; &nbsp;order Runge-Kutta Method</li><li>&nbsp;Boundary value problems using Shooting Method</li><li>&nbsp;Laplacian Equation, Poison’s Equation</li></ul><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
