@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">


    <p>This page contains Syllabus of Network Security of CSIT. </p>

    <div class="row no-gutters">

    </div>


    <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


        <div class="card-body p-0">
            <table class="table table-sm">

                <tbody>
                    <tr>
                        <td>Title</td>

                        <td>
                            Network Security
                        </td>
                    </tr>
                    <tr>
                        <td>Course code</td>

                        <td>CSC416</td>
                    </tr>
                    <tr>
                        <td>Nature of course</td>

                        <td>Theory + Lab</td>
                    </tr>
                    <tr>
                        <td>Semester</td>

                        <td>Seventh Semester</td>
                    </tr>
                    <tr>
                        <td>Full marks</td>

                        <td>60 + 20 + 20</td>
                    </tr>
                    <tr>
                        <td>Pass marks</td>

                        <td>24 + 8 + 8</td>
                    </tr>
                    <tr>
                        <td>Credit Hrs</td>

                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Elective/Compulsary</td>

                        <td>Elective</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>



    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-book"></i>
                        Course Description
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p>
                        <b>Course Synopsis:</b> This course covers the fundamental concepts of network security protocols, wireless security
                        concepts, basics of security in cloud and IoT.
                    </p><p><br></p><p>
                        <b>Goal:</b>The main objective of this course is to provide knowledge of network security so that students
                        will be able to implement a secure network architecture using different security protocols and
                        technologies.
                    </p><div><br></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-file"></i>
                        Units and Unit Content
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <dl>

                        <dt>
                            Computer Network Security Fundamentals
                        </dt>
                        <dt>Teaching Hours: 3 hrs</dt>
                        <dd><p>1.1  Introduction</p><p>1.2 Securing the Computer Network</p><p>1.3 Forms of Protection</p><p>1.4 Security Services</p><p><br></p><div><br></div></dd>

                        <dt>
                            2.
                            User Authentication
                        </dt>
                        <dt>Teaching Hours: 4 hrs</dt>
                        <dd><p>2.1 Remote User-Authentication Principles</p><p>2.2 Remote User-Authentication Using Symmetric Encryption</p><p>2.3 Remote User-Authentication Using Asymmetric Encryption</p><p>2.4 Federated Identity Management </p><p><br></p><div><br></div></dd>

                        <dt>
                            3.
                            Transport-Level Security
                        </dt>
                        <dt>Teaching Hours: 6 hrs</dt>
                        <dd>
                            <p>3.1 Web Security</p><p>
                                3.2 Transport Layer Security (TLS)
                            </p><p>
                                3.3  HTTPS
                            </p><p>
                                3.4 Secure Shell (SSH)
                            </p><p><br></p><div><br></div>
                        </dd>

                        <dt>
                            4. Wireless Network Security

                        </dt>
                        <dt>Teaching Hours: 6 hrs</dt>
                        <dd><p>4.1 Wireless Security</p><p>4.2 Wireless Security</p><p>4.3 IEEE 802.11 Wireless LAN Overview</p><p>4.4 IEEE 802.11i Wireless LAN Security </p><p><br></p><div><br></div></dd>

                        <dt>
                            5.
                            Electronic Mail Security
                        </dt>
                        <dt>Teaching Hours: 8 hrs</dt>
                        <dd>
                            <p>5.1 nternet Mail Architecture</p><p>
                                5.2 E-mail Formats
                            </p><p>
                                5.3&nbsp;Email Threats and Comprehensive Email Security
                            </p><p>5.4&nbsp;S/MIME</p><p>5.5&nbsp;Pretty Good Privacy (PGP)</p>
                            <p>5.6. DNSSEC</p>
                            <p>5.7. DNS-Based Authentication of Named Entities</p>
                            <p>5.8. Sender Policy Framework</p>
                            <p>5.9. Domain Keys Identified Mail</p>
                            <p>5.10. Domain-Based Message Authentication, Reporting, and Conformance </p>
                            <div><br></div><p><br></p><div><br></div>
                        </dd>

                        <dt>
                            6.
                            IP Security
                        </dt>
                        <dt>Teaching Hours: 6 hrs</dt>
                        <dd><p>6.1 IP Security Overview</p><p>6.2 IP Security Policy</p><p>6.3 Authentication Header<p>6.4. Encapsulating Security Payload</p><p>6.5. Security Associations</p> <p>6.6. Internet Key Exchange</p><p><br></p><div><br></div></dd>

                        <dt>
                            7.
                            Network Endpoint Security
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd>
                            <p>
                                ndpoint Security (5 Hrs.)
                                7.1. Firewalls
                            </p><p>7.2. Intrusion Detection System</p><p>7.3. Malicious Software</p><p>7.4. Distributed Denial of Service Attacks</p><p><br></p><div><br></div>
                        </dd>

                        <dt>
                            8.
                            Cloud and Internet of Things (IOT) Security
                        </dt>
                        <dt>Teaching Hours: 7 hrs</dt>
                        <dd>
                            <p>
                                8.1. Cloud Computing
                            </p>
                            <p> 8.2. Cloud Security Concepts</p>
                            <p> 8.3. Cloud Security Risks and Countermeasures</p>
                            <p>8.4. Cloud Security as a Service</p>
                            <p> 8.5. Open-source Cloud Security Module</p>
                            <p> 8.6. Internet of Things (IoT)</p>
                            <p> 8.7. IoT Security Concepts and Objectives</p>
                            <p> 8.8. Open-source IoT Security Module</p>
                        </dd>

                    </dl>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-desktop"></i>
                        <i class="fa fa-flask"></i>
                        Lab and Practical works
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p><b>Laboratory Work:</b></p><p>
                        The laboratory work includes implementation and simulation of Network Security Protocols,
                        Intrusion Detection Systems, DDoS Attacks, Cloud Security and IoT Security Systems.
                    </p><div><br></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-book"></i>
                        Books Description
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p>
                        <b>Text Books:</b>
                        <br />1. William Stallings, Cryptography and Network Security: Principles and Practice, 8th
                        Edition, Pearson, 2020
                        <br />
                        2. Joseph Migga Kizza, Computer Network Security Fundamentals, 5
                        th Edition, Springer,
                        2020<br />

                    <p>
                        <b>Reference Books:</b>
                        <br />
                        1. William Stallings, Network Security Essentials: Applications and Standards, 6th Edition,
                        Pearson, 2017 <br />
                        2. Sarhan M. Musa, Network Security and Cryptography: A Self-Teaching Introduction,
                        Mercury Learning and Information LLC, 2018<br />
                       
                    </p><div><br></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>


</div>

       
