@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">

    <div class="row no-gutters">
        <div class="col" style="margin-bottom: 1%; text-align: center;">
            <h1 style="margin-top: 1%;" class="text-center">Physics Syllabus</h1>
            <a asp-controller="Course" asp-action="Physics" class=" btn btn-info">Syllabus</a>
            <a asp-controller="Course" asp-action="Physicsnote" class=" btn btn-outline-info">Notes</a>



        </div>
    </div>



    <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


        <div class="card-body p-0">
            <table class="table table-sm">

                <tbody>
                    <tr>
                        <td>Title</td>

                        <td>
                            Physics
                        </td>
                    </tr>
                    <tr>
                        <td>Course code</td>

                        <td>PHY113</td>
                    </tr>
                    <tr>
                        <td>Nature of course</td>

                        <td>Theory + Lab</td>
                    </tr>
                    <tr>
                        <td>Semester</td>

                        <td>First-Semester</td>
                    </tr>
                    <tr>
                        <td>Full marks</td>

                        <td>60 + 20 + 20</td>
                    </tr>
                    <tr>
                        <td>Pass marks</td>

                        <td>24 + 8 + 8</td>
                    </tr>
                    <tr>
                        <td>Credit Hrs</td>

                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Elective/Compulsary</td>

                        <td>Compulsary</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>



    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-book"></i>
                        Course Description
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p>
                        <b>Course Synopsis:</b> The course deals with related topics in Mechanics and Electrodynamics.
                        Mechanics: Non Relativistic Particle dynamics, conservation laws, harmonic Oscillator,
                        dynamics of rigid body, strength of materials, hydrodynamics. Electrodynamics: Electrostatics,
                        dielectrics, Electrostatic and magnetic energy, Maxwell's equation, propagation of
                        electromagnetic wave. Laboratory works are designed to complement and supplement the theory
                        course.</p>
                    <p><b>
    Goal:
</b> The course aims at introducing the concepts and methods of physics needed for
                        application in various branch of modern science and technology.
                    </p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-file"></i>
                        Units and Unit Content
                    </h3>
                    <div class="card-tools">

                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <dl>

                        <dt>
                            1.
                            Rotational Dynamics and Oscillatory Motion
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Moment of inertia and torque, Rotational kinetic energy, Conservation of angular momentum,</p><p>Oscillation of spring: frequency, period, amplitude, phase angle and energy</p><div><br></div></dd>

                        <dt>
                            2.
                            Electric and Magnetic Field
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Electric and magnetic field and potential, Force on current carrying wire, magnetic dipole</p><p>moment, Force on a moving charge, Hall effect, Electromagnetic waves</p><div><br></div></dd>

                        <dt>
                            3.
                            Fundamentals of Atomic Theory
                        </dt>
                        <dt>Teaching Hours: 8 hrs</dt>
                        <dd><p>Blackbody radiation, Bohr atom, Spectrum of Hydrogen, Franck-Hertz experiment, de Broglie’s</p><p>hypothesis and its experimental verification, Uncertainty principle and its origin, matter waves</p><p>and the uncertainty principle, group velocity.</p><div><br></div></dd>

                        <dt>
                            4.
                            Methods of Quantum Mechanics
                        </dt>
                        <dt>Teaching Hours: 5 hrs</dt>
                        <dd><p>Schrodinger theory of quantum mechanics and its application, Outline of the solution of</p><p>Schrodinger equation for H-atom, space quantization and spin, Atomic wave functions</p><div><br></div></dd>

                        <dt>
                            5.
                            Fundamentals of Solid State Physics
                        </dt>
                        <dt>Teaching Hours: 6 hrs</dt>
                        <dd><p>Crystal structure, Crystal bonding, Classical and quantum mechanical free electron model, Bloch</p><p>theorem, Kronig-Penny model, Tight-binding approximation, conductors, insulators and</p><p>semiconductors, effective mass and holes.</p><div><br></div></dd>

                        <dt>
                            6.
                            Semiconductor and Semiconductor devices
                        </dt>
                        <dt>Teaching Hours: 8 hrs</dt>
                        <dd><p>Intrinsic and extrinsic semiconductors, Electrical conductivity of semiconductors,</p><p>Photoconductivity, Metal-metal junction: The contact potential, The semiconductor diode,</p><p>Bipolar junction transistor (BJT), Field effect transistor (FET).</p><div><br></div></dd>

                        <dt>
                            7.
                            Universal Gates and Physics of Integrated Circuits
                        </dt>
                        <dt>Teaching Hours: 8 hrs</dt>
                        <dd><p>Universal gates, RTL and TTL gates, Memory circuits, Clock circuits, Semiconductor</p><p>purification: Zone refining, Single crystal growth, Processes of IC production, Electronic</p><p>component fabrication on a chip.</p><div><br></div></dd>

                        <dt>
                            8.
                            Old Syllabus
                        </dt>
                        <dt>Teaching Hours: 0 hrs</dt>
                        <dd><p>&nbsp;</p></dd>

                    </dl>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-desktop"></i>
                        <i class="fa fa-flask"></i>
                        Lab and Practical works
                    </h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p>Students should perform at least 5 experiments (at least one from each groups) in a group of 2 students. They</p><p>should submit report of the experiment individually. Students should write their lab report of each experiment in</p><p>this format:</p><p>Name of the Experiment:</p><p>Apparatus Required:</p><p>Theory/Working Formula</p><p>Observation</p><p>Calculation</p><p>Result</p><p>Error Analysis</p><p>Discussion</p><p>The list the experiments are as follows:</p><p>(1) Determine the moment of inertia and angular acceleration of a flywheel.</p><p>OR</p><p>Study Bar Pendulum and find moment of inertia and angular acceleration about various fix points.</p><p>OR</p><p>Study Torsional pendulum and find moment of inertia and angular acceleration.</p><p>(2) Determine the capacitance of a capacitor by ac bridge (de-Sauty’s method).</p><p>OR</p><p>Study the characteristics of Zener diode its use as voltage regulation</p><p>OR</p><p>Design and study the parallel LCR circuits for finding the quality factor of the elements.</p><p>(3) Study the temperature dependence of resistance of a given semiconductor.</p><p>OR</p><p>Study and determine the band gap in metals and semiconductors using appropriate method.</p><p>(4) Study the drain and transfer characteristics of junction field effect transistor (JFET).</p><p>OR</p><p>Study RS-Flip-flop using breadboard.</p><p>(5) Design and Study the LOGIC Gates: NOT, AND, OR, NOR &amp; NAND Using TTL. Also Study the</p><p>Power Loss in NOT Gate.</p><p>OR</p><p>Study NAND/NOR gates as Universal logic gates.</p><p>Evaluation: The duration of practical examination will be 3 hours. Students should perform one experiment,</p><p>took own observational data, calculate the result and interpret it using suitable error analysis. The internal and</p><p>external examiner (appointed by the Dean Office) will evaluate the performance in this format:</p><p>(1) Experiment:</p><p>40%</p><p>(2) Write-up:</p><p>30%</p><p>(3) VIVA Examination:</p><p>30%</p><div><br></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- ./col -->

    </div>



</div>