@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "POM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="terms">
    <main>

        <div class="row no-gutters">
            <div class="col" style="margin-bottom: 1%; text-align: center;">
                <h1 style="margin-top: 1%;" class="text-center"> Principles of Management Syllabus</h1>
                <a asp-controller="Course" asp-action="POM" class=" btn btn-info">Syllabus</a>
                <a asp-controller="Course" asp-action="POMnote" class=" btn btn-outline-info">Notes</a>



            </div>
        </div>



        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Principles of Management
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td> MGT411</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Seventh-Semester</td>
                        </tr>
                        <tr>
                            <td>Full Marks</td>

                            <td>80 + 20 </td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>32 + 8 </td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Compulsary</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-sticky-note"></i>
                            Course Description
                        </h3>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p>
                            <b>Course Description:</b> This course contains The Nature of Organizations, Introduction to Management, Evolution of
                            Management Thought, Environmental Context of Management, Planning and Decision Making,
                            Organizing Function, Leadership, Motivation, Communication, Control and Quality
                            Management, Global Context of Management, Management Trends and Scenario in Nepal.
                        </p><p><br></p><p>
                            <b>Course Objectives:</b> The basic objective of this course is to give a comprehensive knowledge to students about
                            organization and help them understand the major functions, principles, and techniques of
                            management. The course deals with basic functions like planning, organizing, leading, and
                            controlling with special orientation to modern management practices which are essential to
                            manage business successfully and other organizations.
                        </p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                The Nature of Organizations
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd>
                                <p>
                                    Concept of organization. Organizational goals – concept, purposes, and types. Features of
                                    effective organizational goals. Goal formulation – processes and approaches. Goal succession
                                    and displacement. Problems of goal formulation. Changing perspectives of organization.
                                </p><div><br></div>
                            </dd>

                            <dt>
                                2.
                                Introduction to Management
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd>
                                <p>
                                    Definition, characteristics, and principles of management. Process and functions of
                                    management. Managerial hierarchy. Types of managers. Managerial skills and roles.
                                    Emerging challenges for management.
                                </p><div><br></div>
                            </dd>

                            <dt>
                                3.
                                Evolution of Management Thought
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd>
                                <p>
                                    Introduction, contribution and limitation of Classical theory, Human relations and
                                    Behavioural science theories, System theory, Decision theory, Management science theory,
                                    and Contingency theory. Emerging management concepts: workforce diversity, outsourcing,
                                    knowledge management, learning organization.
                                </p><div><br></div>
                            </dd>

                            <dt>
                                4.
                                Environmental Context of Management
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd>
                                <p>
                                    Concept of business environment. Types of business environment – internal and external.
                                    Basic components of economic, socio – cultural, political, and technological environments.
                                    Social responsibility of business – concept and approaches. Areas of social responsibility.
                                    Business ethics – meaning and significance. Emerging business environment in Nepal.
                                </p><div><br></div>
                            </dd>

                            <dt>
                                5.
                                Planning and Decision Making
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd>
                                <p>
                                    Concept, types, hierarchy of planning. Process and importance of planning. Strategic
                                    planning. Environmental scanning – concept and methods. SWOT analysis. Formulation and 100
                                    implementation of strategic plans. Quantitative tools for planning. Decision making –
                                    definition and approaches. Types of decisions. Decision making under conditions of certainty
                                    and uncertainty. Problem solving – concepts, types of problem. Problem solving strategies.
                                </p><div><br></div>
                            </dd>

                            <dt>
                                6.
                                Organizing Function
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd>
                                <p>
                                    Concept and principles of organizing. Approaches to organizing – classical, behavioural, and
                                    contingency. Process of structuring an organization. Departmentalization – meaning and
                                    types. Delegation of authority – meaning, features, advantages, and barriers. Centralization
                                    and decentralization – meaning, advantages and disadvantages. Concept of organic and
                                    mechanistic views of organization. Types of modern organizational structures – matrix, team,
                                    and network.
                                </p><div><br></div>
                            </dd>

                            <dt>
                                7.
                                Leadership & Conflict
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd>
                                <p>
                                    Concept and functions of leadership. Leadership styles. Approaches to leadership – trait,
                                    behavioral, and situational. Group formation. Types and characteristics of groups. Conflict –
                                    meaning and types. Managing conflicts in organization.
                                </p><div><br></div>
                            </dd>

                            <dt>
                                8.
                                Motivation
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd>
                                <p>
                                    Concept. Theories of motivation – Need Hierarchy, and Motivation-Hygiene. Reward system
                                    to motivate performance. Motivation through employee participation – quality of work life,
                                    and self- managed teams.
                                </p><div><br></div>
                            </dd>

                            <dt>
                                9.
                                Communication
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd>
                                <p>
                                    Concept, structure, and process. Types of communication – formal and informal.
                                    Interpersonal and nonverbal communication. Barriers to effective communication. Enhancing
                                    effective communication.
                                </p><div><br></div>
                            </dd>

                            <dt>
                                10.
                                Control and Quality Management
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd>
                                <p>
                                    Concept, process, and types of control systems. Characteristics of effective control system.
                                    Quality control systems – concept of quality. Total Quality Management (TQM) – concept
                                    and tools. Deming management – principles and techniques.
                                </p><div><br></div>
                            </dd>

                            <dt>
                                11.
                                Global Context of Management
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd>
                                <p>

                                    Concept of globalization. Methods of globalization. Effects of globalization. Multinational
                                    companies – meaning, types, advantages, and disadvantages.
                                </p><div><br></div>
                            </dd>

                            <dt>
                                12.
                                Management Trends and Scenario in Nepal
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd>
                                <p>
                                    Growth of business sector in Nepal. Major industries in Nepal – manufacturing, export –
                                    oriented, import-substitution, and service sector. Existing management practices and business
                                    culture. Major problems of businesses in Nepal.
                                </p><div><br></div>
                            </dd>


                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Recommended Books
                        </h3>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p>
                            <b>Text Books:</b>
                            <br />1. Griffin, Ricky W., Management, AITBS Publishers and Distributors, Delhi.
                            <br /> 2. Hitt, Michael A., J. Black, Stweart, and Porter, Lyman W., Management, Pearson, India.

                            <br />3. Robbins, Stephen P., and Coulter, Mary, Management, Prentice-Hall of India, New
                            Delhi.
                        </p>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>
</main>

</div>