@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">
 

        <p>This page contains Syllabus of Real Time System (old-course) of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Real Time System (old-course)
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>DSC354</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Sixth-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>80+20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>32+8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Compulsary</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="MsoNormal" style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: 13px; margin-left: 94.5pt; text-indent: -94.5pt;"><span style="font-size: small;"><b>Course Synopsis:&nbsp;</b>This course introduces the real time technology</span></div><div class="MsoNormal" style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: 13px; margin-left: 94.5pt; text-indent: -94.5pt;"><span style="font-size: small;">.</span></div><div class="MsoNormal" style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: 13px; margin-left: 94.5pt; text-indent: -94.5pt;"><span style="font-size: small;"><b>Goal</b>:The main objective of this course is to address issue in scheduling, resource access control, and communication in the real time system</span></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                    
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Introduction
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd><p><span style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: small; text-align: justify;">Digital control, High-level controls, Signal processing, Real time applications</span><br></p></dd>

                            <dt>
                                2.
                                Hard versus Soft Real-Time Systems
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p><span style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: small; text-align: justify;">Jobs and processors, Release times, Deadlines, and timing constraints, Hard and soft timing constraints, Hard real-time systems, Soft real-time systems</span><br></p></dd>

                            <dt>
                                3.
                                Reference Model of Real-Time Systems
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p><span style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: small; text-align: justify;">Processor and resources, Temporal parameters of real-time workload, Periodic task model, Precedence constraints and data dependency, Other dependencies, Functional parameters, Resource parameters of jobs and parameters of resources, Scheduling hierarchy</span><br></p></dd>

                            <dt>
                                4.
                                Approaches to Real-Time Scheduling
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p><span style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: small; text-align: justify;">Clock-driven approach, Weighted round-robin approach, Priority-driven approach, Dynamic versus static system, Effective release times and deadlines, Optimality of the EDF and LST algorithms, Nonoptimality of the EDF and LST algorithms, Challenges in validating timing constraints in priority-driven systems, Off-line versus on-line scheduling,</span><br></p></dd>

                            <dt>
                                5.
                                Clock-Driven Scheduling
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p><span style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: small; text-align: justify;">Notations and assumptions, Static, Timer-driven scheduler, General structure of cyclic schedules, Cyclic executives, Improving the average response time of aperiodic jobs, Scheduling sporadic jobs, Practical considerations and generalization, Algorithm for constructing static schedules, Pros and cons of clock-driven scheduling</span><br></p></dd>

                            <dt>
                                6.
                                Priority-Driven Scheduling of Periodic Tasks
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p><span style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: small; text-align: justify;">Static assumption, Fixed-priority versus dynamic-priority algorithms, Maximum schedule utilization, Optimality of the RM and DM algorithms, A schedulability test for fixed-priority tasks with short response times, schedulability test for fixed-priority tasks with arbitrary response times, Sufficient schedulability conditions for the RM and DM algorithms, Practical factor</span><br></p></dd>

                            <dt>
                                7.
                                Scheduling Aperiodic and Sporadic Jobs in Priority-Driven Systems
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p><span style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: small; text-align: justify;">Assumptions and approaches, Deferrable servers, Sporadic servers, Constant utilization, total bandwidth, and weighted fair-queuing servers, Slack stealing in deadline-driven systems, Slack stealing in fixed-priority systems, Scheduling of sporadic jobs, Real-time performance for jobs, with soft timing constraints, Low-level scheme for integrated scheduling</span><br></p></dd>

                            <dt>
                                8.
                                Resources and Resource Access Control
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p><span style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: small; text-align: justify;">Assumptions on resources and their usage, Effects of resources contention and resource access control, Nonpreemptive critical sections, Basic priority-inheritance protocol, Basic priority-ceiling protocol, Stack-based, priority-ceiling (ceiling-priority) protocol, Use of priority-ceiling protocol in dynamic-priority system, Preemption-ceiling protocol, Controlling accesses to multiple-unit resources, Controlling concurrent accesses to data objects</span><br></p></dd>

                            <dt>
                                9.
                                Multiprocessor Scheduling, Resource Access Control and Synchronization
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p><span style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: small; text-align: justify;">Model of multiprocessor and distributed systems, Task assignment, Multiprocessor priority-ceiling protocol, Elements of scheduling algorithms for end-end periodic tasks, End-to-end tasks in heterogeneous systems, Predictability and validation of dynamic multiprocessor systems.</span><br></p></dd>

                            <dt>
                                10.
                                Real –Time Communication
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p><span style="color: rgb(51, 51, 51); font-family: Arial, serif; font-size: small; text-align: justify;">Model of real-time communication, Priority-based service disciplines for switched networks, Weighted round-robin service disciplines, Medium access-control protocols of broadcast networks, Internet and resource reservation protocols, Real-time protocol, Communication in multi computer systems</span><br></p></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
