@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">
  

        <p>This page contains Syllabus of System Analysis and Design of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                System Analysis and Design
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC315</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Fifth-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Compulsary</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        Course Description: This course familiarizes students with the concepts of information
                        systems development including systems development life cycle, different approaches to
                        systems development, project management, planning, analysis, design, implementation and
                        maintenance. This course also covers some fundamental concepts of object oriented systems
                        analysis and design.
                        Course Objectives: The main objective of this course is to provide knowledge of different
                        concepts of system analysis and design so that students will be able to develop information
                        systems using different methodologies, tools, techniques, and approaches.
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                     
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Foundations for Systems Development
                            </dt>
                            <dt>Teaching Hours: 10 hrs</dt>
                            <dd><p><b>1.1.The Systems Development Environment: Introduction; </b></p><p>A Modern Approach to Systems</p><p>Analysis and Design; Developing Information Systems and the Systems Development Life</p><p>Cycle; The Heart of the Systems Development Process and Traditional Waterfall SDLC; CASE</p><p>Tools</p><p><b>1.2.Other Approaches: Prototyping; Spiral; Rapid Application Development;</b> </p><p>Introduction to Agile</p><p>Development</p><p><b>1.3.Managing the Information Systems Project: Introduction;</b></p><p>Managing the Information Systems</p><p>Project; Representing and Scheduling Project Plans; Using Project Management Software</p><div><br></div></dd>

                            <dt>
                                2.
                                Planning
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p><b>2.1. Identifying and Selecting Systems Development Projects:</b> </p><p>Introduction;</p><p> Identifying and Selecting Systems Development Projects; Corporate and Information Systems Planning</p><p><b>2.2. Initiating and Planning Systems Development Projects:</b> </p><p>Introduction;</p><p> Initiating and Planning Systems Development Projects; Process of Initiating and Planning IS Development</p><p>Projects, Assessing Project Feasibility; Building and Reviewing the Baseline Project Plan</p><div><br></div></dd>

                            <dt>
                                3.
                                Analysis
                            </dt>
                            <dt>Teaching Hours: 13 hrs</dt>
                            <dd><p><b>3.1. Determining System Requirements: </b></p><p>Introduction;</p><p> Performing Requirements Determination; Traditional Methods for Determining Requirements; Contemporary Methods for Determining</p><p>System Requirements; Radical Methods for Determining System Requirements</p><p><b>3.2. Structuring System Process Requirements:</b>&nbsp;</p><p>Introduction;</p><p> Process Modeling; Data Flow Diagrams; Modeling Logic with Decision Tables, Decision Trees, and Pseudocodes</p><p><b>3.3.Structuring System Data Requirements:</b></p><p><b> </b>Introduction;</p><p> Conceptual Data Modeling; Gathering Information for Conceptual Data Modeling; Introduction to E-R Modeling</p><div><br></div></dd>

                            <dt>
                                4.
                                Design
                            </dt>
                            <dt>Teaching Hours: 7 hrs</dt>
                            <dd><p><b>4.1.Designing Databases: </b>Introduction; Database Design; Relational Database Model;</p><p>Normalization; Transforming E-R Diagrams Into Relations; Merging Relations; Physical File</p><p>and Database Design; Designing Fields; Designing Physical Tables</p><p><b>4.2. Designing Forms and Reports:</b> Introduction; Designing Forms and Reports; Formatting</p><p>Forms and Reports; Assessing Usability</p><div><div><b>4.3.Designing Interfaces and Dialogues:</b> Introduction; Designing Interfaces and Dialogues;</div><div>Interaction Methods and Devices; Designing Interfaces; Designing Dialogues; Designing</div><div>Interfaces and Dialogues in Graphical Environments</div></div><div><br></div></dd>

                            <dt>
                                5.
                                Implementation and Maintenance
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p><b>5.1.System Implementation:</b> Introduction, System Implementation, Software Application Testing,</p><p>Installation, Documenting the System, Training and Supporting Users, Organizational Issues in</p><p>Systems Implementation</p><p><b>5.2.Maintaining Information Systems: </b>Introduction, Maintaining Information Systems,</p><p>Conducting Systems Maintenance</p><div><br></div></dd>

                            <dt>
                                6.
                                Introduction to Object-Oriented Development
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p>Basic Characteristics of Object-Oriented Systems; Object-Oriented System Analysis and Design</p><p>(OOSAD); Introduction to Unified Modeling Language, Structural and Behavioral Diagrams</p><div><br></div></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
