@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




    <div class="terms">
        <main>

            <div class="row no-gutters">
                <div class="col" style="margin-bottom: 1%; text-align: center;">
                    <h1 style="margin-top: 1%;" class="text-center">Software Engineering Syllabus</h1>
                    <a asp-controller="Course" asp-action="SE" class=" btn btn-info">Syllabus</a>
                    <a asp-controller="Course" asp-action="SEnote" class=" btn btn-outline-info">Notes</a>



                </div>
            </div>



            <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


                <div class="card-body p-0">
                    <table class="table table-sm">

                        <tbody>
                            <tr>
                                <td>Title</td>

                                <td>
                                    Software Engineering
                                </td>
                            </tr>
                            <tr>
                                <td>Course code</td>

                                <td>CSC364</td>
                            </tr>
                            <tr>
                                <td>Nature of course</td>

                                <td>Theory</td>
                            </tr>
                            <tr>
                                <td>Semester</td>

                                <td>Sixth-Semester</td>
                            </tr>
                            <tr>
                                <td>Full marks</td>

                                <td>80+20</td>
                            </tr>
                            <tr>
                                <td>Pass marks</td>

                                <td>24+8</td>
                            </tr>
                            <tr>
                                <td>Credit Hrs</td>

                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Elective/Compulsary</td>

                                <td>Compulsary</td>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>



            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-book"></i>
                                Course Description
                            </h3>
                           
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <p><b>Course Description:</b></p><p>This course familiarizes students with different concepts of software engineering mainly focusing on software process models, agile development, requirements engineering, models, design, implementation, testing, evolution, and software project management.</p><p><b>Course Objectives:</b></p><p>The main objective of this course is to provide knowledge of different concepts of software engineering so that students will be able to develop high quality software using different software management skills.</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- ./col -->

            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-file"></i>
                                Units and Unit Content
                            </h3>
                            
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <dl>

                                <dt>
                                    1.
                                    Introduction
                                </dt>
                                <dt>Teaching Hours: 2 hrs</dt>
                                <dd><p>Software and its Types; Attributes of Good Software; Software Engineering and its Importance; Fundamental Software Engineering Activities; Difference between Software Engineering and Computer Science; Difference between Software Engineering and System Engineering; Challenges and Cost of Software Engineering; Professional Software Development; Software Engineering Diversity; Internet Software Engineering; Software Engineering Ethics</p></dd>

                                <dt>
                                    2.
                                    Software Processes
                                </dt>
                                <dt>Teaching Hours: 5 hrs</dt>
                                <dd><p>Software Process; Software Process Models (Waterfall Model; Incremental Development; Integration and Configuration); Software Process Activities (Software Specification, Software Design and Implementation; Software Validation; Software Evolution); Coping with Change (Prototyping, Incremental Delivery); Process Improvement</p></dd>

                                <dt>
                                    3.
                                    Agile Software Development
                                </dt>
                                <dt>Teaching Hours: 3 hrs</dt>
                                <dd><p>Agile Development; Plan-Driven vs. Agile Development; Agile Methods; Agile Development Techniques; Introduction to Agile Project Management</p></dd>

                                <dt>
                                    4.
                                    Requirements Engineering
                                </dt>
                                <dt>Teaching Hours: 3 hrs</dt>
                                <dd><p>Concept of User and System Requirements; Functional and Non-Functional Requirements; Requirements Engineering Process; Requirements Elicitation; Requirements Specification; Requirements Validation; Requirements Change</p></dd>

                                <dt>
                                    5.
                                    System Modeling
                                </dt>
                                <dt>Teaching Hours: 6 hrs</dt>
                                <dd><p>Introduction to System Modeling; Context Models; Interaction Models; Structural Models; Behavioral Models; Model-Driven Architecture</p></dd>

                                <dt>
                                    6.
                                    Architectural Design
                                </dt>
                                <dt>Teaching Hours: 6 hrs</dt>
                                <dd><p>Introduction; Architectural Design Decisions; Architectural Views; Architectural Patterns; Application Architectures</p></dd>

                                <dt>
                                    7.
                                    Design and Implementation
                                </dt>
                                <dt>Teaching Hours: 5 hrs</dt>
                                <dd><p>Introduction; Object-Oriented Design using UML; Design Patterns; Implementation Issues; Open-Source Development</p></dd>

                                <dt>
                                    8.
                                    Software Testing
                                </dt>
                                <dt>Teaching Hours: 5 hrs</dt>
                                <dd><p>Introduction; Validation and Verification Testing; Software Inspection; Software Testing Process; Development Testing; Test-Driven Development; Release Testing; User Testing</p></dd>

                                <dt>
                                    9.
                                    Software Evolution
                                </dt>
                                <dt>Teaching Hours: 3 hrs</dt>
                                <dd><p>Evolution Process; Legacy Systems; Software Maintenance<br></p></dd>

                                <dt>
                                    10.
                                    Software Management
                                </dt>
                                <dt>Teaching Hours: 7 hrs</dt>
                                <dd><p>Software Project Management; Project Management Activities (Project Planning, Risk Management, People Management, Reporting and Proposal Writing); Project Planning (Software Pricing, Plan-Driven Development, Project Scheduling, Estimation Techniques, COCOMO Cost Modeling); Introduction to Quality Management and Configuration Management</p></dd>

                            </dl>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- ./col -->

            </div>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-desktop"></i>
                                <i class="fa fa-flask"></i>
                                Lab and Practical works
                            </h3>
                           
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <p><b>Laboratory / Project Work:</b></p><p>Students should prepare a project report along with software product using different concepts of software engineering. The project can be done in groups with at most four members in each group using any suitable database, programming, interfacing technologies, and project management concepts.</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- ./col -->

            </div>
            </main>


    </div>
