@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">
   

        <p>This page contains Syllabus of Society and Ethics in Information Technology of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Society and Ethics in Information Technology
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC323</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Fifth-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Elective</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Description:</b></p><p>This course covers different concepts related with sociology, and social and ethical issues</p><p>related with the use of Information Technology. This course also covers social context of</p><p>computing, software issues and new frontiers of computer ethics.</p><p><br></p><p><b>Course Objective:</b></p><p>The basic objective of this course is to provide fundamental knowledge on the concept of</p><p>sociology to understand social, cultural, economic, political and technical aspects, and</p><p>knowledge of different social and ethical issues related with Information Technology.</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Introduction
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p>History, definitions,&nbsp;Related to IT,&nbsp;Need, Resilience, types,&nbsp;Need, types,&nbsp;Difference, moral values<br></p></dd>

                            <dt>
                                2.
                                Social and cultural change
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p>Evolution, Functional, Conflict,Economics, Technology, Education, Demography<br></p></dd>

                            <dt>
                                3.
                                Understanding development
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>Definition, approaches,Types ,Types,Techniques, Strategies</p></dd>

                            <dt>
                                4.
                                Process of transformation
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p>Basic concepts,&nbsp;&nbsp;Definition, Effect on morality,Basic concepts ,&nbsp;CASE study</p></dd>

                            <dt>
                                5.
                                Ethics and Ethical Analysis
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p>Definitions, Consequentialism , Deontology, Human nature, Relativism, Hedonism, Emotivism,&nbsp;Functional definition covering different sets, Framework for ethical decision making, making and</p><p>evaluating ethical arguments,&nbsp;Preamble, objectives,&nbsp;Issues and discussion</p></dd>

                            <dt>
                                6.
                                Intellectual Property Rights and Computer Technology
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p>Definitions,&nbsp;Basic concepts, Copyrights, Patents, Trade secrets, Trademarks, Personal identity,&nbsp;Politics of ownership, Psychology of ownership,&nbsp;Infringement, first sale doctrine, Fair use doctrine,&nbsp;Domain, source, Duration and strategies of protection,</p><p>Software piracy, Protection of software under copyright, Patent, Trademarks and Trade secretes,&nbsp;Basic concepts</p></dd>

                            <dt>
                                7.
                                Social Context of Computing
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p>Access, Technology, Human capacity, Infrastructure,</p><p>Enabling Environments,&nbsp;Techniques, Electronic office, Office on wheels and wings, Virtual workplace, Quiet revolution : Telecommuters and Telecommuting, Workplace privacy and surveillance, Electronic monitoring,&nbsp;Ergonomics</p></dd>

                            <dt>
                                8.
                                Software Issues
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>Standards, Reliability, Security, Safety, Quality, Quality of Service</p><p>Human factors, Nature of software, Risk assessment and management, Risk hazards in workplace systems, Buyer and provider rights, A- service provider – user contract,&nbsp;Techniques,&nbsp;Basic concepts&nbsp;</p></dd>

                            <dt>
                                9.
                                New Frontiers for Computer Ethics
                            </dt>
                            <dt>Teaching Hours: 7 hrs</dt>
                            <dd><p>Basic concepts, Definitions, Requirements, Challenges,&nbsp;Terminologies, Types, Benefits,Types, Social and ethical implication of virtualization, Introduction, Concept of telepresence and immersion, Detecting attacks in cyberspace, Intellectual property rights in cyberspace, Legal definition, Types, Legislation, Effects and Dealing with cyberbullying</p></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                     
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Laboratory works</b></p><p><b>- </b>5 Case Studies that are specified in the micro syllabus</p><p><b>-&nbsp;</b>Practical related to quality assurance, risk analysis, VR, reliability, security, safety,quality, quality of&nbsp; &nbsp; service.</p><ul><li>Selenium for automation testing of functional aspects of web based applications, wide range of platforms and browsers.</li><li>Apache Jmeter for load testing</li><li>Jira for task, effort, team performance and defect tracking</li><li>Development of RMMM (Risk Monitoring, Management, Mitigation) plan for any scenario.</li></ul><p><b><i>The students should write reports for 5 case studies and other practical works.</i></b></p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
