@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "DWDMnote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="terms">
    <main>

        <div class="row no-gutters">
            <div class="col" style="margin-bottom: 1%; text-align: center;">
                <h1 style="margin-top: 1%;" class="text-center">Software Engineering Notes</h1>
                <a asp-controller="Course" asp-action="SE" class=" btn btn-outline-info">Syllabus</a>
                <a asp-controller="Course" asp-action="SEnote" class=" btn btn-info">Notes</a>


            </div>
        </div>
      
        <div class="row no-gutters">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 1: Introduction</h4>

                                <p class="card-text">

                                    unit 1: <b>Introduction</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/SE/chapter-1 (2).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="/pdf/6/SE/chapter-1 (2).pdf" download target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;  &nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/SE/chapter-1 (2).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-1-introduction%2F230%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f29887b5c5a8134" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df370b2cb84c7af4%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff1df9aa8d29f3a4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-1-introduction%2F230%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                    </div>
                                </div>
                            </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 2: Software Processes</h4>

                                <p class="card-text">

                                    unit 2: <b>Software Processes</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/SE/chapter-2 (2).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="/pdf/6/SE/chapter-2 (2).pdf" download target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;  &nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/SE/chapter-2 (2).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-2-software-processes%2F231%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f10e7e91df5592" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df379531d22cd2f8%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff1df9aa8d29f3a4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-2-software-processes%2F231%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                </div>
                                </div>
                            </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 3: Agile Software Development</h4>

                                <p class="card-text">

                                    unit 3: <b>Agile Software Development</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/SE/chapter-3 (2).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="/pdf/6/SE/chapter-3 (2).pdf" download="" target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;  &nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/SE/chapter-3 (2).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-3-agile-software-development%2F232%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f3920360013b93c" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df29ce1f1d79a8dc%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff1df9aa8d29f3a4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-3-agile-software-development%2F232%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                    </div>
                                </div>
                            </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 4: Requirements Engineering</h4>

                                <p class="card-text">

                                    unit 4: <b>Requirements Engineering</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/SE/chapter-4 (2).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="/pdf/6/SE/chapter-4 (2).pdf" download target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;  &nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/SE/chapter-4 (2).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-4-requirements-engineering%2F233%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f1d27cc30ad1dbc" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3c5176597eae78%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff1df9aa8d29f3a4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-4-requirements-engineering%2F233%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                </div>
                                </div>
                            </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 5: System Modeling</h4>

                                <p class="card-text">

                                    unit 5: <b>System Modeling</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/SE/chapter-6 (2).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="/pdf/6/SE/chapter-6 (2).pdf" download target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;  &nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/SE/chapter-6 (2).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-5-system-modeling%2F234%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f2559f5713810c" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfe23fc3292a2c%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff1df9aa8d29f3a4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-5-system-modeling%2F234%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
</div>
                                </div>
                            </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 6: Architectural Design</h4>

                                <p class="card-text">

                                    unit 6: <b>Architectural Design</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/SE/chapter-6 (2).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="/pdf/6/SE/chapter-6 (2).pdf" download target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;  &nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/SE/chapter-6 (2).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-6-architectural-design%2F235%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f3d86976e040a84" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2fdd6214cd74e4%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff1df9aa8d29f3a4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-6-architectural-design%2F235%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
                                    </div>
                                </div>
                            </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 7: Design and Implementation</h4>

                                <p class="card-text">

                                    unit 7: <b>Design and Implementation</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                               <div class="row">
    &nbsp;&nbsp;&nbsp;
    <a href="/pdf/6/SE/chapter-7 (1).pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
    <a href="/pdf/6/SE/chapter-7 (1).pdf" download target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
    &nbsp;&nbsp; &nbsp;&nbsp;
    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/SE/chapter-7 (1).pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-7-design-and-implementation%2F236%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f33f255196e625c" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1a5aa79002b79%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff1df9aa8d29f3a4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-7-design-and-implementation%2F236%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
</div>
</div>
                            </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 8: Software Testing</h4>

                                <p class="card-text">

                                    unit 8: <b>Software Testing</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/SE/chapter-8.pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="/pdf/6/SE/chapter-8.pdf" download target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;  &nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/SE/chapter-8.pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-8-software-testing%2F237%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f811fdf1d7677c" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df308032b9b226%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff1df9aa8d29f3a4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-8-software-testing%2F237%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
</div>
                                </div>
                            </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col">

                        <div class="card card-danger card-outline">


                            <div class="card-body">
                                <h4>Unit 9: Software Evolution</h4>

                                <p class="card-text">

                                    unit 9: <b>Software Evolution</b><br>

                                    <span class=" badge text-danger">PDF note</span>


                                </p>
                                <div class="row">
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/pdf/6/SE/chapter-9.pdf" class="card-link"><i class="fa fa-eye mr-2" aria-hidden="true"></i>Read</a>
                                    <a href="/pdf/6/SE/chapter-9.pdf" download target="blank" class="card-link"><i class="fa fa-download mr-2" aria-hidden="true"></i>Download</a>
                                    &nbsp;&nbsp;  &nbsp;&nbsp;
                                    <div class="fb-share-button fb_iframe_widget" data-href="/pdf/6/SE/chapter-9.pdf" data-layout="button" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=234991697616160&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-9-software-evolution%2F238%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="f2725bf01bc049c" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v9.0/plugins/share_button.php?app_id=234991697616160&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2fea5349e75038%26domain%3Dcollegenote.pythonanywhere.com%26origin%3Dhttps%253A%252F%252Fcollegenote.pythonanywhere.com%252Ff1df9aa8d29f3a4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcollegenote.pythonanywhere.com%2Fnote%2FCSIT%2F53%2Fsixth-semester%2Fsoftware-engineering%2Funit-9-software-evolution%2F238%2Fview%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey" style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></div>
</div>

                                </div>
                            </div>

                    </div>


                </div>


            </div>


            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">

            </div>
        </div>

        </main>
    </div>