@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">
    <main>

        <div class="row no-gutters">
            <div class="col" style="margin-bottom: 1%; text-align: center;">
                <h1 style="margin-top: 1%;" class="text-center">Technical Writing Syllabus</h1>
                <a asp-controller="Course" asp-action="TW" class=" btn btn-info">Syllabus</a>
                <a asp-controller="Course" asp-action="TWnote" class=" btn btn-outline-info">Notes</a>



            </div>
        </div>

        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Technical Writing
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC368</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Sixth-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>80+20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24+8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Compulsary</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Description:</b></p><p>
    This course is designed for students to enhance their skills for workplace writing. It helps
    them in the process of „listening, researching, planning, composing, revising, and editing‟
    documents for use in business, science, hi-tech, and other practical fields. Technical Writing
    for Success provides students with practical approach to producing their own proposal
    content, manual instructions, informative briefs, news releases, and other pragmatic
    documents. Abundant in sample documents, critical thinking questions, and insightful writing
    advice on style and voice, this textbook prepares students for successful technical writing.
</p><p><b>Course Objectives:</b></p><p>
    Enable students to identify the importance and characteristics of technical writing and
    produce some quality technical pieces of workplace writing.
</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                What Is Technical Writing
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd><p>Introduction; You Are a Technical Writer!; Characteristics of a Technical Writing; How Technical Writing Compares to Other Writing</p></dd>

                            <dt>
                                2.
                                Audience and Purpose
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd><p>Introduction; Meeting the Audience‟s Needs; Planning Your Document‟s Purpose, Scope, and Medium</p></dd>

                            <dt>
                                3.
                                Writing Process
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd><p>Introduction; A Process for Technical Writing; Planning; Drafting and Revising; Copyediting and Publishing; Writing Collaboratively</p></dd>

                            <dt>
                                4.
                                Brief Correspondence
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p>Introduction; Introduction to Text Messages; E-mails; Memos, and Letters; Audience; Prewriting; Formatting; Composing the Message</p></dd>

                            <dt>
                                5.
                                Document Design and Graphics
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p>Introduction; Designing the Document; Who Reads Graphics?; Designing Graphics; Constructing Graphics</p></dd>

                            <dt>
                                6.
                                Writing for the Web
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p>Introduction; Getting Started on Web Pages; Organizing and Designing Web Pages; Writing Text for the Web; Special Web Pages</p></dd>

                            <dt>
                                7.
                                Information Reports
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>Introduction; Getting Started on Informative Reports; Summary and Abstract; Mechanism and Description; Periodic Reports; Progress Reports; News Releases</p></dd>

                            <dt>
                                8.
                                Employment Communication
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>Introduction; Getting Started on Employment Communication; Formatting and Organizing Resumes; Types of Resumes; Composing Resumes; Composing Employment Letters</p></dd>

                            <dt>
                                9.
                                Presentations
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>Introduction; Getting Started on Presentations; Planning; Organizing and Composing; Preparing; Rehearsing; Presenting; Organizing a Group Presentation</p></dd>

                            <dt>
                                10.
                                Recommendation Reports
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd><p>Introduction; What Is a Recommendation Report?; Starting a Recommendation Report; Formatting and Organizing Recommendation Reports; Composing Recommendation Reports</p></dd>

                            <dt>
                                11.
                                Proposals
                            </dt>
                            <dt>Teaching Hours: 3 hrs</dt>
                            <dd><p>Introduction; What Is a Proposal?; Getting Started on Proposal; Composing Informal Proposals; Composing Formal Proposals</p></dd>

                            <dt>
                                12.
                                Ethics in the Workplace
                            </dt>
                            <dt>Teaching Hours: 2 hrs</dt>
                            <dd><p>Introduction; What Is Ethics?; Creating a Culture of Ethics; What Do you When Faces with an Ethical Dilemma?; Why Is It So Difficult to Behave Ethically?</p></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>


</main>
</div>
