@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="terms">
   

        <p>This page contains Syllabus of Wireless Networking of CSIT. </p>

        <div class="row no-gutters">

        </div>


        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">


            <div class="card-body p-0">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>Title</td>

                            <td>
                                Wireless Networking
                            </td>
                        </tr>
                        <tr>
                            <td>Course code</td>

                            <td>CSC320</td>
                        </tr>
                        <tr>
                            <td>Nature of course</td>

                            <td>Theory + Lab</td>
                        </tr>
                        <tr>
                            <td>Semester</td>

                            <td>Fifth-Semester</td>
                        </tr>
                        <tr>
                            <td>Full marks</td>

                            <td>60 + 20 + 20</td>
                        </tr>
                        <tr>
                            <td>Pass marks</td>

                            <td>24 + 8 + 8</td>
                        </tr>
                        <tr>
                            <td>Credit Hrs</td>

                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Elective/Compulsary</td>

                            <td>Elective</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-book"></i>
                            Course Description
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p><b>Course Description:</b> This course familiarizes students with different concepts of wireless</p><p>networking including wireless channels, communication techniques, cellular communications,</p><p>mobile network, and advanced features.</p><p><br></p><p><b>Objective: </b>The main objective of this course is to provide concepts and principles of wireless</p><p>networking including protocol stacks and standards with the evolution of latest wireless</p><p>networks.</p><div><br></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file"></i>
                            Units and Unit Content
                        </h3>
                      
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <dl>

                            <dt>
                                1.
                                Introduction
                            </dt>
                            <dt>Teaching Hours: 4 hrs</dt>
                            <dd><p>1.1 History and challenges of wireless communications&nbsp;</p><p>1.2 WLAN technologies: Infrared, UHF narrowband, spread spectrum&nbsp;</p><p>1.3 Wireless communications standards&nbsp;</p><div><br></div></dd>

                            <dt>
                                2.
                                Wireless Channel Characterization
                            </dt>
                            <dt>teaching hours: 4 hrs</dt>
                            <dd><p>2.1 Multipath propagation environment&nbsp;</p><p>2.2 LTI channel model&nbsp;</p><p>2.3 Channel correlation function&nbsp;</p><p>2.4 Large scale path loss&nbsp;</p><p>2.5 Small scale multipath fading&nbsp;</p><div><br></div></dd>

                            <dt>
                                3.
                                Wireless Communication Techniques
                            </dt>
                            <dt>Teaching Hours: 12 hrs</dt>
                            <dd><p>3.1 Transmission techniques&nbsp;</p><p>&nbsp;&nbsp;&nbsp;&nbsp;3.1.1 Introduction to bandpass transmission&nbsp;</p><p>&nbsp;&nbsp;&nbsp;&nbsp;3.1.2 Signal space and decision reasons&nbsp;</p><p>&nbsp;&nbsp;&nbsp;&nbsp;3.1.3 Digital modulation&nbsp;</p><p>&nbsp;&nbsp;&nbsp;&nbsp;3.1.4 Power spectral density&nbsp;</p><p>3.2 Receiver Techniques&nbsp;</p><p>&nbsp;&nbsp;&nbsp;&nbsp;3.2.1 Introduction to fading dispersive channels&nbsp;</p><p>&nbsp;&nbsp;&nbsp;&nbsp;3.2.2 Channel impairment mitigation techniques&nbsp;</p><p>&nbsp;&nbsp;&nbsp;&nbsp;3.2.3 Diversity&nbsp;</p><p>&nbsp;&nbsp;&nbsp;&nbsp;3.2.4 Channel equalization&nbsp;</p><p>3.3 Multiple Access Technologies&nbsp;</p><p>&nbsp;&nbsp;&nbsp;&nbsp;3.3.1 Conflict free multiple access technologies&nbsp;</p><p>&nbsp;&nbsp;&nbsp;&nbsp;3.3.2 Spectral efficiencies&nbsp;</p><div><br></div></dd>

                            <dt>
                                4.
                                Fundamental of Cellular Communications
                            </dt>
                            <dt>Teaching Hours: 5 hrs</dt>
                            <dd><p>4.1 Spectrum reuse and re-farming&nbsp;</p><p>4.2 Cell cluster concept&nbsp;</p><p>4.3 Co-channel and adjacent channel interference&nbsp;</p><p>4.4 Cell site call blocking and delay&nbsp;</p><p>4.5 Channel allocation strategies&nbsp;</p><div><br></div></dd>

                            <dt>
                                5.
                                Mobility Management in Wireless Networks
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p>5.1 Introduction&nbsp;</p><p>5.2 Call admission control&nbsp;</p><p>5.3 Handoff management&nbsp;</p><div><div>5.4 Location management for cellular and PCS networks</div><div><br></div><div>5.5 Traffic calculation</div></div><div><br></div></dd>

                            <dt>
                                6.
                                Overview of Mobile Network and Transport Layer
                            </dt>
                            <dt>Teaching Hours: 8 hrs</dt>
                            <dd><p>6.1 Mobile IP: IP packet delivery, Agent discovery, tunneling and encapsulation</p><p>6.2 IPv6-Network layer in the internet</p><p>6.3 Mobile IP session initiation protocol</p><p>6.4 Wireless application protocol</p><p>6.5 Mobile routing protocols: DSDV, AODV and DSR</p><p>6.6 Classical TCP improvements: Mobile TCP, Time out freezing, Selective retransmission</p><div><br></div></dd>

                            <dt>
                                7.
                                Advances in Wireless Networking
                            </dt>
                            <dt>Teaching Hours: 6 hrs</dt>
                            <dd><p>7.1 4G: Features, Challenges and Applications</p><p>7.2 Overview of 4G Technologies</p><p>&nbsp;&nbsp;&nbsp;&nbsp;7.2.1 Multicarrier Modulation</p><p>&nbsp;&nbsp;&nbsp;&nbsp;7.2.2 Smart antenna techniques</p><p>&nbsp;&nbsp;&nbsp;&nbsp;7.2.3 Adaptive Modulation</p><p>&nbsp;&nbsp;&nbsp;&nbsp;7.2.4 Cognitive Radio</p><p>7.3 Introduction to 5G and its vision</p><p>7.4 Introduction to wireless network virtualization</p><p>7.5 Concepts of Wireless Sensor Network &amp; RFID</p><p>7.6 Introduction to optical communication: Li-Fi</p><p>7.7 Introduction to Software Defined Wireless Networks</p><p>7.8 Concepts of Open BTS and Open Cellular Networks</p><div><br></div></dd>

                        </dl>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-desktop"></i>
                            <i class="fa fa-flask"></i>
                            Lab and Practical works
                        </h3>
                       
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- ./col -->

        </div>



    </div>
